@import '../theme';

@aui-badge-bg-color: @ak-color-N30A;
@aui-badge-text-color: @ak-color-N800A;

@aui-badge-on-blue-bg-color: rgba(255, 255, 255, 0.25); // outputs RGBA colour
@aui-badge-on-blue-text-color: #fff;
