@import '../theme';

@aui-datepicker-day-bg-color: @aui-color-white;
@aui-datepicker-day-text-color: @aui-color-bright-blue-1;

@aui-datepicker-selected-bg-color: @aui-color-bright-blue-1;
@aui-datepicker-selected-text-color: @aui-color-white;

@aui-datepicker-unselectable-text-color: @aui-color-medium-gray;
@aui-datepicker-outline-color: @aui-color-medium-gray;
@aui-datepicker-disabled-text-color: @aui-color-medium-gray;

@aui-datepicker-box-shadow: 0px 0px 0pt 1pt #ccc;

@aui-datepicker-selected-border-radius: 3px;
