@import '../theme';

@aui-dropdown2-bg-color: @aui-color-white;
@aui-dropdown2-border-color: @aui-color-ash-gray;
@aui-dropdown2-trigger-color: @aui-text-color;
@aui-dropdown2-trigger-active-color: @aui-color-white;
@aui-dropdown2-disabled-text-color: @aui-color-gray;
@aui-dropdown2-disabled-hover-text-color: @aui-color-medium-gray;
@aui-dropdown2-disabled-hover-bg-color: @aui-color-light-gray;
@aui-dropdown2-trigger-disabled-color: @aui-dropdown2-disabled-text-color;

@aui-dropdown2-border-radius: @aui-border-radius-small;
@aui-dropdown2-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.2);
