@import '../theme';

@aui-progress-indicator-color: @aui-color-dark-blue;
@aui-progress-indicator-bg-color: @aui-color-transparent-silver;

@aui-progress-indicator-border-radius: @aui-border-radius-small;
