@import '../theme';

@aui-progress-tracker-step-border-color: @aui-color-light-gray;
@aui-progress-tracker-container-color: @aui-color-light-gray;
@aui-progress-tracker-current-step-color: @aui-link-color;
@aui-progress-tracker-current-step-text-color: @aui-link-color;
@aui-progress-tracker-step-color: @aui-color-ash-gray;
@aui-progress-tracker-step-text-color: @aui-color-medium-gray;
