@import '../theme';

@aui-table-header-bg-color: @aui-color-white;
@aui-table-row-bg-color: @aui-color-white;
@aui-table-text-align: left;
@aui-table-vertical-align: top;
@aui-table-padding-x: @aui-grid;
@aui-table-padding-y: (@aui-grid * .7);

@aui-table-caption-bg-color: @aui-color-light-gray;
@aui-table-caption-text-color: @aui-color-medium-gray;
@aui-table-heading-text-color: @ak-color-N100;
@aui-table-row-text-color: @aui-text-color;
@aui-table-list-row-hover-color: @ak-color-N30;
@aui-table-list-row-subtle-color: @ak-color-N60;

@aui-table-interactive-row-hover-bg-color: @aui-color-light-gray;

// *DEPRECATED: Since 5.0.0.*
@aui-table-zebra-even-bg-color: @aui-color-light-gray;
@aui-table-zebra-even-text-color: @aui-text-color;
@aui-table-zebra-heading-bg-color: @aui-color-light-gray;
@aui-table-zebra-heading-text-color: @aui-text-color;


// ### Sortable

@aui-table-sortable-active-bg-color: @aui-color-light-gray;
@aui-table-sortable-active-border-color: @aui-color-charcoal;
@aui-table-sortable-arrow-height: 4px;
