---
component: Avatars
layout: main-layout.html
analytics:
  pageCategory: component
  component: avatar
---
<a href="https://design.atlassian.com/latest/product/components/avatars/" class="aui-button aui-button-link docs-meta-link">Design guidelines</a>

<h3>Summary</h3>

<p>
    Avatars are used to add a human touch and instant clarity when understanding which user
    did what in the application. We also use avatars for projects, repositories, spaces and
    other container metaphors within Atlassian Apps.
</p>

<h3>Status</h3>
<table class="aui summary">
    <tbody>
        <tr>
            <th>API status:</th>
            <td><span class="aui-lozenge aui-lozenge-success">general</span></td>
        </tr>
        <tr>
            <th>Included in AUI core?</th>
            <td>Yes. You do not need to explicitly require the web resource key.</td>
        </tr>
        <tr>
            <th>Web resource key:</th>
            <td class="resource-key" data-resource-key="com.atlassian.auiplugin:aui-avatars"><code>com.atlassian.auiplugin:aui-avatars</code></td>
        </tr>
        <tr>
            <th>AMD Module key:</th>
            <td class="resource-key">N/A</td>
        </tr>
        <tr>
            <th>Experimental since:</th>
            <td>5.0</td>
        </tr>
        <tr>
            <th>General API status:</th>
            <td>5.1</td>
        </tr>
    </tbody>
</table>

<h3>Examples</h3>
<div class="aui-flatpack-example">
    <span class="aui-avatar aui-avatar-xsmall">
        <span class="aui-avatar-inner">
            <img src="images/avatar-16.png" alt="User Avatar">
        </span>
    </span>
    <span class="aui-avatar aui-avatar-small">
        <span class="aui-avatar-inner">
            <img src="images/avatar-24.png" alt="User Avatar">
        </span>
    </span>
    <span class="aui-avatar aui-avatar-medium">
        <span class="aui-avatar-inner">
            <img src="images/avatar-32.png" alt="User Avatar">
        </span>
    </span>
    <span class="aui-avatar aui-avatar-large">
        <span class="aui-avatar-inner">
            <img src="images/avatar-48.png" alt="User Avatar">
        </span>
    </span>
    <span class="aui-avatar aui-avatar-xxlarge">
        <span class="aui-avatar-inner">
            <img src="images/avatar-96.png" alt="User Avatar">
        </span>
    </span>
    <span class="aui-avatar aui-avatar-project aui-avatar-small">
        <span class="aui-avatar-inner">
            <img src="images/project-24.png" alt="Project Avatar">
        </span>
    </span>
    <span class="aui-avatar aui-avatar-project aui-avatar-medium">
        <span class="aui-avatar-inner">
            <img src="images/project-32.png" alt="Project Avatar">
        </span>
    </span>
    <span class="aui-avatar aui-avatar-project aui-avatar-large">
        <span class="aui-avatar-inner">
            <img src="images/project-48.png" alt="Project Avatar">
        </span>
    </span>
    <span class="aui-avatar aui-avatar-project aui-avatar-xlarge">
        <span class="aui-avatar-inner">
            <img src="images/project-64.png" alt="Project Avatar">
        </span>
    </span>
    <span class="aui-avatar aui-avatar-project aui-avatar-xxxlarge">
        <span class="aui-avatar-inner">
            <img src="images/project-128.png" alt="Project Avatar">
        </span>
    </span>
</div>

<h3 id="variations">Variations</h3>

<h4>User avatars</h4>

<aui-docs-example live-demo>
    <noscript is="aui-docs-code" type="text/html">
        <span class="aui-avatar aui-avatar-xxlarge">
            <span class="aui-avatar-inner">
                <img src="//docs.atlassian.com/aui/latest/docs/images/avatar-96.png" alt="Person McRealface" />
            </span>
        </span>
    </noscript>
</aui-docs-example>

<h4>Project avatars</h4>

<p>
    Avatars can be used for "container" objects &mdash; projects, spaces, repositories, etcetera &mdash;
    to give them a recognisable visual identity.
</p>

<aui-docs-example live-demo>
    <noscript is="aui-docs-code" type="text/html">
        <span class="aui-avatar aui-avatar-project aui-avatar-xlarge">
            <span class="aui-avatar-inner">
                <img src="//docs.atlassian.com/aui/latest/docs/images/project-128.png" alt="Angry Nerds project" />
            </span>
        </span>
    </noscript>
</aui-docs-example>

<h3 id="behavior">Behaviour</h3>

<h4>Textual descriptions of avatars</h4>

<p>
    An avatar must include a textual description of the concept it represents, so that its meaning can be
    conveyed and understood in non-visual contexts as well.
</p>

<ul>
    <li>
        In most cases, the avatar's <code>&lt;img&gt;</code> tag should include an <code>alt</code>
        attribute describing the image.
    </li>
    <li>
        In cases where the avatar is logically grouped with text content that describes the concept
        (for example, in a <a href="./page-header.html">page header</a>), the avatar is effectively decorative.
        In such cases, you should provide <strong>an empty</strong> <code>alt</code> attribute description.
    </li>
</ul>

<aui-docs-example live-demo>
    <noscript is="aui-docs-code" type="text/html">
        <header class="aui-page-header">
            <div class="aui-page-header-inner">
                <div class="aui-page-header-image">
                    <span class="aui-avatar aui-avatar-project aui-avatar-xxxlarge">
                        <span class="aui-avatar-inner">
                            <img src="images/project-128.png" alt="" role="presentation" />
                        </span>
                    </span>
                </div>
                <div class="aui-page-header-main">
                    <h2>Angry Nerds project</h2>
                    <p>
                        The avatar is related to this heading. If I were using a screen reader here,
                        it would be redundant to hear the name of the project read out twice. So,
                        we prevent the image from being described.
                    </p>
                </div>
            </div>
        </header>
    </noscript>
</aui-docs-example>

<h4>Badged content</h4>

<p>Avatars may have a single additional element overlaid in one of their four corners.</p>

<p>
    Use badged content to represent the type, permission, presence, or other contextually relevant information
    about the user or container.
</p>

<p>
    The badged content must also include a textual description of the information it represents,
    so that its meaning can be conveyed and understood in non-visual contexts as well.
</p>

<aui-docs-example live-demo>
    <noscript is="aui-docs-code" type="text/html">
        <span class="aui-avatar aui-avatar-xxlarge">
            <span class="aui-avatar-inner">
                <img src="//docs.atlassian.com/aui/latest/docs/images/avatar-96.png" alt="Person McRealface" />
            </span>
            <span class="custom-presence-indicator">
                <svg height="100%" version="1.1" viewBox="0 0 8 8" width="100%" xmlns="http://www.w3.org/2000/svg">
                    <description>Online</description>
                    <circle cx="4" cy="4" r="4"></circle>
                </svg>
            </span>
        </span>
    </noscript>
    <noscript is="aui-docs-code" type="text/css">
        .aui-avatar .custom-presence-indicator {
            /* position the indicator. AUI Avatars are a relative container. */
            position: absolute;
            bottom: 0;
            right: 0;
            /* size the indicator appropriately. content should not appear outside the indicator. */
            width: 16px;
            height: 16px;
            overflow: hidden;
            /* style the indicator. */
            color: #00875A;
            border: 3px solid #fff;
            border-radius: 100%;
            fill: #00875A;
        }
    </noscript>
</aui-docs-example>
