---
component: Badges
layout: main-layout.html
analytics:
  pageCategory: component
  component: badge
---

<a href="https://design.atlassian.com/latest/product/components/badges/" class="aui-button aui-button-link docs-meta-link">Design guidelines</a>
<h3>Summary</h3>
<p>Badges provide quick visual identification for <strong>numeric values</strong> such as tallies and other quantities. They are not used for anything other than integers. For statuses, use Lozenges. To call out tags or other high-visibility attributes, use Labels.</p>

<h3>Status</h3>
<table class="aui summary">
    <tbody>
        <tr>
            <th>API status:</th>
            <td><span class="aui-lozenge aui-lozenge-success">general</span></td>
        </tr>
        <tr>
            <th>Included in AUI core?</th>
            <td>Yes. You do not need to explicitly require the web resource key.</td>
        </tr>
        <tr>
            <th>Web resource key:</th>
            <td class="resource-key" data-resource-key="com.atlassian.auiplugin:aui-badge">
                <code>com.atlassian.auiplugin:aui-badge</code>
            </td>
        </tr>
        <tr>
            <th>AMD Module key:</th>
            <td class="resource-key">N/A</td>
        </tr>
        <tr>
            <th>Experimental since:</th>
            <td>5.0</td>
        </tr>
        <tr>
            <th>General API status:</th>
            <td>5.1</td>
        </tr>
    </tbody>
</table>

<h3>Examples</h3>
<div class="aui-flatpack-example">
    <aui-badge>1</aui-badge>
    <aui-badge class="aui-badge-primary">10</aui-badge>
    <aui-badge>815</aui-badge>
    <aui-badge>50</aui-badge>
    <aui-badge class="aui-badge-primary">30+</aui-badge>
</div>

<h3>Code</h3>
<h4>HTML</h4>
<aui-docs-example>
    <noscript is="aui-docs-code" type="text/html">
        <aui-badge>19</aui-badge>
    </noscript>
</aui-docs-example>

<h3>Options</h3>
<table class="aui">
    <thead>
    <tr>
        <th>Badge type</th>
        <th>Badge type class</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td>Default</td>
        <td>(no type class)</td>
    </tr>
    <tr>
        <td>Primary</td>
        <td><code>aui-badge-primary</code></td>
    </tr>
    </tbody>
</table>

<h4>Variations</h4>
<p>
    Use the primary badge when the number is the more important or prominent piece of data than
    its label or description.
</p>

<aui-docs-example>
    <noscript is="aui-docs-code" type="text/html">
        <p><aui-badge class="aui-badge-primary">42</aui-badge> people following this issue.</p>
    </noscript>
</aui-docs-example>

<h4>HTML <span class="aui-lozenge aui-lozenge-error">deprecated</span></h4>
The use of <code>aui-badge</code> class will be deprecated. Use the web component API instead.
<aui-docs-example>
    <noscript is="aui-docs-code" type="text/html">
        <span class="aui-badge">19</span>
    </noscript>
</aui-docs-example>

<h4>Soy <span class="aui-lozenge aui-lozenge-error">deprecated</span></h4>
<noscript is="aui-docs-code" type="text/handlebars">
  {call aui.badges.badge}
    {param text: '19' /}
  {/call}
</noscript>
