---
component: Dropdown
layout: main-layout.html
analytics:
  pageCategory: component
  component: dropdown
  componentApiType: web-component
---
<h3>Summary</h3>
<p>
    Dropdown creates a dropdown menu, with optional sections, headings, icons, checkbox items, radio group items and disabled items.
    Submenus are supported but should be avoided where possible for usability reasons.
</p>

<h3>Status</h3>
<table class="aui summary">
    <tbody>
    <tr>
        <th>API status:</th>
        <td><span class="aui-lozenge aui-lozenge-current">experimental</span></td>
    </tr>
    <tr>
        <th>Included in AUI core?</th>
        <td><span class="aui-lozenge aui-lozenge-current">Not in core</span> You must explicitly require the web
            resource key.
        </td>
    </tr>
    <tr>
        <th>Web resource key:</th>
        <td class="resource-key" data-resource-key="com.atlassian.auiplugin:aui-dropdown2"><code>com.atlassian.auiplugin:aui-dropdown2</code>
        </td>
    </tr>
    <tr>
        <th>AMD Module key:</th>
        <td class="resource-key">N/A</td>
    </tr>
    <tr>
        <th>Experimental since:</th>
        <td>5.9</td>
    </tr>
    </tbody>
</table>

<aui-docs-contents></aui-docs-contents>

<h3 id="example">Example</h3>

<p>
    Associate a button that acts as the dropdown's trigger
    (<code class="first-use">class="aui-dropdown2-trigger"</code>) to the
    dropdown menu (<aui-docs-component class="first-use">aui-dropdown-menu</aui-docs-component>)
    by setting the trigger's <code class="first-use">aria-controls</code>
    attribute to the <code class="first-use">id</code> of the dropown menu.
</p>

<aui-docs-example live-demo id="simple-example">
<noscript is="aui-docs-code" type="text/html">
<button class="aui-button aui-dropdown2-trigger" aria-controls="example-dropdown">
    Dropdown menu
</button>

<aui-dropdown-menu id="example-dropdown">
    <aui-section label="Links">
        <aui-item-link href="http://atlassian.com">Atlassian</aui-item-link>
        <aui-item-link href="http://news.ycombinator.com">Hacker news</aui-item-link>
        <aui-item-link href="http://github.com">Github</aui-item-link>
    </aui-section>
    <aui-section label="Browsers">
        <aui-item-radio interactive checked>Chrome</aui-item-radio>
        <aui-item-radio interactive>Firefox</aui-item-radio>
        <aui-item-radio interactive disabled>Safari</aui-item-radio>
    </aui-section>
    <aui-section label="Languages">
        <aui-item-checkbox interactive checked>Javascript</aui-item-checkbox>
        <aui-item-checkbox interactive>Fortran</aui-item-checkbox>
        <aui-item-checkbox interactive>Rust</aui-item-checkbox>
    </aui-section>
</aui-dropdown-menu>
</noscript>
</aui-docs-example>


<h3 id="behavior">Behaviour</h3>

<h4 id="sections">Sections</h4>

<p>
    An <aui-docs-component class="first-use">aui-section</aui-docs-component> is used to separate groups of related items, and may include a heading.
    They can contain a group of
</p>

<ul>
    <li><a href="#links">links</a>,</li>
    <li><a href="#checkboxes">checkboxes</a>, or</li>
    <li><a href="#radios">radios</a>.</li>
</ul>

<p>
    To give a section a heading add the <code class="first-use">label</code> attribute:
</p>

<aui-docs-example live-demo>
<noscript type="text/html">
<button class="aui-button aui-dropdown2-trigger" aria-controls="sections-with-headings">
    Sections with headings
</button>
</noscript>
<noscript is="aui-docs-code" type="text/html">
<aui-dropdown-menu id="sections-with-headings">
    <aui-section label="Favourites">
        <aui-item-link href="http://amazon.com">Amazon</aui-item-link>
        <aui-item-link href="http://apple.com">Apple</aui-item-link>
        <aui-item-link href="http://facebook.com">Facebook</aui-item-link>
        <aui-item-link href="http://google.com">Google</aui-item-link>
    </aui-section>
    <aui-section label="Recently visited">
        <aui-item-link href="http://atlassian.com">Atlassian</aui-item-link>
    </aui-section>
</aui-dropdown-menu>
</noscript>
</aui-docs-example>


<h4 id="links">Links</h4>

<p>
    Use <aui-docs-component class="first-use">aui-item-link</aui-docs-component> elements with the
    <code class="first-use">href</code> attribute specified to add link items to a dropdown.
</p>

<aui-docs-example live-demo>
<noscript type="text/html">
<button class="aui-button aui-dropdown2-trigger" aria-controls="link-items">
    Link items
</button>
</noscript>
<noscript is="aui-docs-code" type="text/html">
<aui-dropdown-menu id="link-items">
    <aui-section label="Links">
        <aui-item-link href="http://example.com#profile">Profile</aui-item-link>
        <aui-item-link href="http://example.com#account-settings">Account settings</aui-item-link>
        <aui-item-link href="http://example.com#inbox">Inbox</aui-item-link>
    </aui-section>
</aui-dropdown-menu>
</noscript>
</aui-docs-example>

<h4 id="submenus">Submenus</h4>

<p> To add a submenu to a dropdown, create an <aui-docs-component>aui-dropdown-menu</aui-docs-component>
    containing the submenu content, and set the <code class="first-use">for</code> attribute of the
    <aui-docs-component>aui-item-link</aui-docs-component> element to the <code>id</code> of the
    <aui-docs-component>aui-dropdown-menu</aui-docs-component> submenu:
</p>

<aui-docs-example live-demo id="submenu-example">
<noscript is="aui-docs-code" type="text/html">
<button class="aui-button aui-dropdown2-trigger" aria-controls="has-submenu">
    Dropdown with submenu
</button>

<aui-dropdown-menu id="has-submenu">
    <aui-section label="Links">
        <aui-item-link href="http://amazon.com">Amazon</aui-item-link>
        <aui-item-link href="http://apple.com">Apple</aui-item-link>
        <aui-item-link href="http://facebook.com">Facebook</aui-item-link>
        <aui-item-link href="http://google.com">Google</aui-item-link>
        <aui-item-link for="recently-visited">Recently visited</aui-item-link>
    </aui-section>
</aui-dropdown-menu>

<aui-dropdown-menu id="recently-visited">
    <aui-section>
        <aui-item-link href="http://atlassian.com">Atlassian</aui-item-link>
    </aui-section>
</aui-dropdown-menu>
</noscript>
</aui-docs-example>

<div class="aui-message aui-message-warning">
    <h5>Avoid submenus where possible</h5>
    <p>
        For usability reasons, submenus should be avoided where possible.
    </p>
</div>

<h4 id="checkboxes">Checkboxes</h4>

<p>
    Use <aui-docs-component class="first-use">aui-item-checkbox</aui-docs-component> elements when
    you want to present options the user can select or enable.
</p>

<aui-docs-example live-demo>
<noscript type="text/html">
<button class="aui-button aui-dropdown2-trigger" aria-controls="checkbox-items">
    Checkbox items
</button>
</noscript>
<noscript is="aui-docs-code" type="text/html">
<aui-dropdown-menu id="checkbox-items">
    <aui-section label="Languages">
        <aui-item-checkbox interactive checked>Javascript</aui-item-checkbox>
        <aui-item-checkbox interactive>Fortran</aui-item-checkbox>
        <aui-item-checkbox interactive>Rust</aui-item-checkbox>
    </aui-section>
</aui-dropdown-menu>
</noscript>
</aui-docs-example>

<div class="aui-message aui-message-success">
    <h5>Use <code>interactive</code> with checkboxes and radios</h5>
    <p>
        It's recommended to use the <code>interactive</code> boolean attribute
        on checkbox and <a href="#radios">radio items</a> in dropdown
        menus to keep the dropdown open when users click those items.
    </p>
</div>

<div class="aui-message aui-message-info">
    <h5>Disabling checkboxes and radios</h5>
    <p>
        Add the <code class="first-use">disabled</code> boolean attribute to
        checkbox and radio items to disable them.
    </p>
</div>

<h5>Responding to events</h5>

<p>
    Listen to <code class="first-use">change</code> events fired by
    <aui-docs-component>aui-item-checkbox</aui-docs-component> elements to respond to users
    selecting items, examining the <code class="first-use">checked</code> attribute
    to determine whether the item was checked or unchecked:
</p>

<aui-docs-example live-demo>
<noscript type="text/html">
<button class="aui-button aui-dropdown2-trigger" aria-controls="is-checkbox-checked">
    Checked item events
</button>
</noscript>
<noscript type="text/html">
<aui-dropdown-menu id="is-checkbox-checked">
    <aui-section label="Languages">
        <aui-item-checkbox interactive checked>Javascript</aui-item-checkbox>
        <aui-item-checkbox interactive>Fortran</aui-item-checkbox>
        <aui-item-checkbox interactive>Rust</aui-item-checkbox>
    </aui-section>
</aui-dropdown-menu>
</noscript>
<noscript is="aui-docs-code" type="text/js">
var dropdown = document.getElementById('is-checkbox-checked');
dropdown.addEventListener('change', function (e) {
    var isChecked = e.target.hasAttribute('checked');
    if (isChecked) {
        console.log(e.target.textContent, 'was checked.');
    } else {
        console.log(e.target.textContent, 'was unchecked.');
    }
});
</noscript>
</aui-docs-example>


<h4 id="radios">Radios</h4>

<p>
    Similar to <a href="#checkboxes">checkboxes</a>, use
    <aui-docs-component class="first-use">aui-item-radio</aui-docs-component> elements to present a set of
    mutually exclusive options to the user:
</p>

<aui-docs-example live-demo>
<noscript type="text/html">
<button class="aui-button aui-dropdown2-trigger" aria-controls="radio-items">
    Radio items
</button>
</noscript>
<noscript is="aui-docs-code" type="text/html">
<aui-dropdown-menu id="radio-items">
    <aui-section label="Browsers">
        <aui-item-radio interactive checked>Chrome</aui-item-radio>
        <aui-item-radio interactive>Firefox</aui-item-radio>
        <aui-item-radio interactive>Safari</aui-item-radio>
    </aui-section>
</aui-dropdown-menu>
</noscript>
</aui-docs-example>

<div class="aui-message aui-message-info">
    <h5>Group radio items with sections</h5>
    <p>
        Only one radio item can be selected inside each section, so use an <aui-docs-component>aui-section</aui-docs-component>
        to group a set of <aui-docs-component>aui-item-radio</aui-docs-component> elements together.
    </p>
</div>

<h5>Responding to events</h5>

<p>
    Listen to <code>change</code> events fired by the <aui-docs-component>aui-item-radio</aui-docs-component>
    elements to be notified when the previous radio item is deselected and the new item is selected, examining the
    <code>checked</code> attribute to differentiate between the two:
</p>

<aui-docs-example live-demo>
<noscript type="text/html">
<button class="aui-button aui-dropdown2-trigger" aria-controls="is-radio-checked">
    Radio item events
</button>

<aui-dropdown-menu id="is-radio-checked">
    <aui-section id="browsers" label="Browsers">
        <aui-item-radio interactive checked>Chrome</aui-item-radio>
        <aui-item-radio interactive>Firefox</aui-item-radio>
        <aui-item-radio interactive>Safari</aui-item-radio>
    </aui-section>
</aui-dropdown-menu>
</noscript>
<noscript is="aui-docs-code" type="text/js">
var section = document.querySelector('aui-section#browsers');
section.addEventListener('change', function (e) {
    var tagName = e.target.tagName.toLowerCase();
    if (tagName === 'aui-item-radio') {
        if (e.target.hasAttribute('checked')) {
            console.log(e.target.textContent, 'was selected.');
        } else {
            console.log(e.target.textContent, 'was deselected.');
        }
    }
});
</noscript>
</aui-docs-example>

<div class="aui-message aui-message-warning">
    <h5>Order of radio <code>change</code> events is not guaranteed</h5>
    <p>
        When a new radio is selected, the <code>change</code> event for the
        previously selected item being deselected may come before or after
        the event for the new item being selected, so it's best to examine
        the <code>checked</code> attribute to differentiate.
    </p>
</div>

<h4 id="icons">Icons</h4>
<p>
    If you require icons in your dropdown menus then unfortunately, at this time the dropdown web component does not support what you want to achieve. Fortunately you can still use the existing dropdown2 HTML component to achieve this. Documentation for the dropdown2 HTML component can be found here: <a href="dropdown2.html">Dropdown2 HTML componentent documentation</a>
</p>

<h3 id="appearance">Appearance</h3>

<h4 id="alignment">Alignment</h4>

<p>
    A dropdown will be left-aligned and will extend to the right unless there is no space in its container, in which case
    it will flip and extend to the left. By default, this container is the viewport.
</p>
<p>
    In order to specify a container for alignment, set the <code class="first-use">data-aui-alignment-container</code> attribute
    to a selector matching the container element:
</p>

<aui-docs-example live-demo>
<noscript is="aui-docs-code" type="text/html">
<div id="alignment-container">
    <button class="aui-button aui-dropdown2-trigger" aria-controls="left-aligned">
        Left-aligned dropdown
    </button>
    <button class="aui-button aui-dropdown2-trigger" aria-controls="right-aligned">
        Right-aligned dropdown
    </button>
</div>

<aui-dropdown-menu id="left-aligned" data-aui-alignment-container="#alignment-container">
    <aui-section>
        <aui-item-link href="http://amazon.com">Amazon</aui-item-link>
        <aui-item-link href="http://apple.com">Apple</aui-item-link>
    </aui-section>
</aui-dropdown-menu>

<aui-dropdown-menu id="right-aligned" data-aui-alignment-container="#alignment-container">
    <aui-section>
        <aui-item-link href="http://facebook.com">Facebook</aui-item-link>
        <aui-item-link href="http://google.com">Google</aui-item-link>
    </aui-section>
</aui-dropdown-menu>
</noscript>
<noscript type="text/css">
#alignment-container {
    border: 1px dashed #999;
    padding: 10px;
    width: 500px;
}

[aria-controls="right-aligned"] {
    float: right;
}
</noscript>
</aui-docs-example>

<h4 id="sizing">Sizing</h4>

<p>
    The size of the dropdown can be controlled by adding the <code class="first-use">aui-list-truncate</code>
    class to the <aui-docs-component>aui-section</aui-docs-component> element and applying the <code>min-width</code>
    and <code>max-width</code> styles to the <aui-docs-component>aui-dropdown-menu</aui-docs-component>.
</p>
<p>
    Options will be truncated to a single line matching the specified width:
</p>

<aui-docs-example live-demo>
<noscript type="text/html">
<button class="aui-button aui-dropdown2-trigger" aria-controls="has-min-width">
    Dropdown with min-width
</button>
<button class="aui-button aui-dropdown2-trigger" aria-controls="has-max-width">
    Dropdown with max-width
</button>
</noscript>
<noscript is="aui-docs-code" type="text/html">
<aui-dropdown-menu id="has-min-width">
    <aui-section class="aui-list-truncate">
        <aui-item-link href="#short">Short label text</aui-item-link>
    </aui-section>
</aui-dropdown-menu>

<aui-dropdown-menu id="has-max-width">
    <aui-section class="aui-list-truncate">
        <aui-item-link href="#long">
            Especially long label text that contains enough text to feed a walrus
            and also to cause this list item to flow over multiple lines
        </aui-item-link>
    </aui-section>
</aui-dropdown-menu>
</noscript>
<noscript is="aui-docs-code" type="text/css">
#has-min-width {
    min-width: 300px;
}
#has-max-width {
    max-width: 100px;
}
</noscript>
</aui-docs-example>


<h4 id="disabled">Disabled items</h4>

<p>To apply a disabled style to a dropdown item, set the <code class="first-use">disabled</code> attribute on the item.</p>
<p>Disabling an item will prevent links from being followed, and checkboxes and radio buttons from being checked.</p>

<aui-docs-example live-demo>
<noscript type="text/html">
<button class="aui-button aui-dropdown2-trigger" aria-controls="disabled-items">
    Dropdown with disabled items
</button>
</noscript>
<noscript is="aui-docs-code" type="text/html">
<aui-dropdown-menu id="disabled-items">
    <aui-section label="Links">
        <aui-item-link href="http://atlassian.com">Atlassian</aui-item-link>
        <aui-item-link disabled href="http://google.com">Google</aui-item-link>
    </aui-section>
    <aui-section label="Browsers">
        <aui-item-radio interactive checked>Chrome</aui-item-radio>
        <aui-item-radio interactive>Firefox</aui-item-radio>
        <aui-item-radio disabled interactive>Safari</aui-item-radio>
    </aui-section>
    <aui-section label="Languages">
        <aui-item-checkbox interactive checked>Javascript</aui-item-checkbox>
        <aui-item-checkbox disabled interactive>Python</aui-item-checkbox>
    </aui-section>
</aui-dropdown-menu>
</noscript>
</aui-docs-example>

<div class="aui-message aui-message-warning">
    <h5>Disabled items don't prevent event listeners from firing</h5>
    <p>
        Interacting with disabled items may still trigger any event listeners attached to the item itself, so ensure
        that you have also disabled any additional functionality attached to the item.
    </p>
</div>

<h4 id="hidden">Hidden items</h4>

<p>To hide a section or menu item in a dropdown, set the <code class="first-use">hidden</code> attribute on the item.</p>
<p>Hidden items will not appear when the dropdown menu is displayed.</p>

<aui-docs-example live-demo>
<noscript type="text/html">
<button class="aui-button aui-dropdown2-trigger" aria-controls="hidden-items">
    Hidden items
</button>
</noscript>
<noscript is="aui-docs-code" type="text/html">
<aui-dropdown-menu id="hidden-items">
    <aui-section label="Links">
        <aui-item-link href="http://example.com#profile">Profile</aui-item-link>
        <aui-item-link href="http://example.com#inbox">Inbox</aui-item-link>
        <aui-item-link hidden href="http://example.com#delete">Delete Profile</aui-item-link>
    </aui-section>
    <aui-section hidden label="Hidden Links">
        <aui-item-link href="http://example.com/#secret">Secret Page</aui-item-link>
    </aui-section>
</aui-dropdown-menu>
</noscript>
</aui-docs-example>

<h4 id="arrowless">Dropdown triggers without arrows</h4>
<p>
    On some occasions, it may be necessary to create a dropdown trigger without
    the arrow which is displayed by default.
    If this is required, you can add the <code class="first-use">aui-dropdown2-trigger-arrowless</code> class to the trigger.
</p>
<aui-docs-example live-demo>
    <noscript is="aui-docs-code" type="text/html">
    <button class="aui-button aui-dropdown2-trigger aui-dropdown2-trigger-arrowless" aria-controls="no-arrow-items">
        Trigger without arrow
    </button>
    </noscript>
    <noscript is="aui-docs-code" type="text/html">
    <aui-dropdown-menu id="no-arrow-items">
        <aui-item-link href="http://example.com#profile">Profile</aui-item-link>
        <aui-item-link href="http://example.com#inbox">Inbox</aui-item-link>
        <aui-item-link href="http://example.com#delete">Delete Profile</aui-item-link>
    </aui-dropdown-menu>
    </noscript>
    </aui-docs-example>
<h3 id="ajax">Ajax</h3>

<h4 id="remote-dropdown">Async dropdown</h4>

<p>A dropdown can fetch its contents from a remote source which returns a JSON response matching the given specification.</p>
<p>To load contents from a remote source, set the <code class="first-use">src</code> attribute to the URL of the remote endpoint.</p>

<aui-docs-example live-demo>
<noscript type="text/js">
$(function () {
    // Create fake server response
    var url = "/async-dropdown";
    var server = sinon.fakeServer.create();
    server.autoRespond = true;
    server.autoRespondAfter = 1000;
    var response = [
        { type: "section", label: "Projects", items: [
            { type: "link", href: "#aui", content: "AUI" },
            { type: "link", href: "#design-platform", content: "Design Platform" },
            { type: "link", href: "#adg", content: "ADG" }
        ]},
        { type: "section", label: "Issues", items: [
            { type: "link", href: "#aui-111", content: "AUI-111" },
            { type: "link", href: "#aui-222", disabled: true, content: "AUI-222" },
            { type: "link", href: "#aui-333", hidden: true, content: "AUI-333" }
        ]},
        { type: "section", label: "Checkboxes", items: [
            { type: "checkbox", interactive: true, content: "checkbox" },
            { type: "checkbox", interactive: true, checked: true, content: "checkbox checked" }
        ]},
        { type: "section", label: "Radio", items: [
            { type: "radio", interactive: true, content: "radio" },
            { type: "radio", interactive: true, checked: true, content: "radio checked" }
        ]}
    ];
    server.respondWith(url, [
        200,
        { 'Content-Type': 'application/json' },
        JSON.stringify(response)
    ]);
});
</noscript>
<noscript type="text/html">
    <button aria-controls="async-dropdown" class="aui-button aui-style-default aui-dropdown2-trigger" aria-haspopup="true">
        Async dropdown
    </button>
</noscript>
<noscript is="aui-docs-code" type="text/html">
<aui-dropdown-menu id="async-dropdown" src="/async-dropdown"></aui-dropdown-menu>
</noscript>
</aui-docs-example>


<h4 id="server-response">Server response</h4>

<h5>JSON specification</h5>

<p>
    The remote endpoint must return a JSON response containing an array of objects representing sections and menu items.
    Each object must specify whether it is a section, link, checkbox, or radio button item using the <code>type</code> property:
</p>

<table class="aui">
    <thead>
    <tr>
        <th>Property</th>
        <th>Type</th>
        <th>Description</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td><code>type</code></td>
        <td><code>String</code></td>
        <td>
            <p>The type of the dropdown item. Must be one of:</p>
            <ul>
                <li><code>section</code></li>
                <li><code>link</code></li>
                <li><code>checkbox</code></li>
                <li><code>radio</code></li>
            </ul>
        </td>
    </tr>
    </tbody>
</table>

<p>You may also provide additional properties, depending on the type of the item. Note that these properties closely mirror the attributes available in the <a href="#api-reference">markup API</a>:</p>

<table class="aui">
    <thead>
    <tr>
        <th>Item Type</th>
        <th>Property</th>
        <th>Type</th>
        <th>Description</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td><code>section</code></td>
        <td><code>label</code></td>
        <td><code>String</code></td>
        <td>The label for a section. The object must have the <code>type</code> property set to <code>section</code>.</td>
    </tr>
    <tr>
        <td><code>section</code></td>
        <td><code>items</code></td>
        <td><code>Array</code></td>
        <td>An array containing the child items of the section.</td>
    </tr>
    <tr>
        <td><code>link</code></td>
        <td><code>for</code></td>
        <td><code>String</code></td>
        <td>The id of the <code>aui-dropdown-menu</code> submenu.</td>
    </tr>
    <tr>
        <td><code>link</code></td>
        <td><code>href</code></td>
        <td><code>String</code></td>
        <td>The target URL of the link item.</td>
    </tr>
    <tr>
        <td><code>link</code>, <code>checkbox</code>, <code>radio</code></td>
        <td><code>content</code></td>
        <td><code>String</code></td>
        <td>The text content of the item.</td>
    </tr>
    <tr>
        <td><code>link</code>, <code>checkbox</code>, <code>radio</code></td>
        <td><code>disabled</code></td>
        <td><code>Boolean</code></td>
        <td>Sets the <code>disabled</code> property for the item.</td>
    </tr>
    <tr>
        <td><code>link</code>, <code>checkbox</code>, <code>radio</code></td>
        <td><code>hidden</code></td>
        <td><code>Boolean</code></td>
        <td>Sets the <code>hidden</code> property for the item.</td>
    </tr>
    <tr>
        <td><code>link</code>, <code>checkbox</code>, <code>radio</code></td>
        <td><code>interactive</code></td>
        <td><code>Boolean</code></td>
        <td>Sets the <code>interactive</code> property for the item.</td>
    </tr>
    <tr>
        <td><code><code>checkbox</code>, <code>radio</code></td>
        <td><code>checked</code></td>
        <td><code>Boolean</code></td>
        <td>Sets the <code>checked</code> property for the item.</td>
    </tr>
    </tbody>
</table>

<h5>Example response</h5>

<p>
    The core structure of this JSON is a list of sections, each section containing an optional <code>label</code> property
    and a mandatory <code>items</code> property.
</p>
<p>
    The <code>items</code> array closely reflects the markup pattern – the <code>type</code> property corresponds to the
    component's tagname, and the attributes are listed as properties of the same name.
</p>
<p>
    Boolean attributes must take a value of either <code>true</code> or <code>false</code>,
    otherwise the value of each property will be inserted into the corresponding attribute directly.
</p>

<noscript is="aui-docs-code" type="text/js">
[
    { type: "section", label: "Projects", items: [
        { type: "link", href: "#aui", content: "AUI" },
        { type: "link", href: "#design-platform", content: "Design Platform" },
        { type: "link", href: "#adg", content: "ADG" }
    ]},
    { type: "section", label: "Issues", items: [
        { type: "link", href: "#aui-111", content: "AUI-111" },
        { type: "link", href: "#aui-222", disabled: true, content: "AUI-222" },
        { type: "link", href: "#aui-333", hidden: true, content: "AUI-333" }
    ]},
    { type: "section", label: "Checkboxes", items: [
        { type: "checkbox", interactive: true, content: "checkbox" },
        { type: "checkbox", interactive: true, checked: true, content: "checkbox checked" }
    ]},
    { type: "section", label: "Radio", items: [
        { type: "radio", interactive: true, content: "radio" },
        { type: "radio", interactive: true, checked: true, content: "radio checked" }
    ]}
]
</noscript>

<h3 id="api-reference">API Reference</h3>

<h4 id="api-reference-aui-dropdown-menu">Dropdown menu</h4>

<table class="aui">
    <caption><aui-docs-component>aui-dropdown-menu</aui-docs-component></caption>
    <thead>
    <tr>
        <th>Name</th>
        <th>Attribute</th>
        <th>Property</th>
        <th>Type</th>
        <th class="description">Description</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td><code>src</code></td>
        <td><span class="aui-icon aui-icon-small aui-iconfont-success">is an attribute</span></td>
        <td><span class="aui-icon aui-icon-small aui-iconfont-success">is a property</span></td>
        <td>String</td>
        <td>The URL of the remote source that returns a JSON response containing the dropdown contents to template.</td>
    </tr>
    <tr>
        <td class="no-wrap"><code>data-aui-alignment-container</code></td>
        <td><span class="aui-icon aui-icon-small aui-iconfont-success">is an attribute</span></td>
        <td><span class="aui-icon aui-icon-small aui-iconfont-close-dialog">is not a property</span></td>
        <td>String</td>
        <td>A selector matching the container element to use for alignment.</td>
    </tr>
    </tbody>
</table>

<h4 id="api-reference-section-item">Section</h4>

<table class="aui">
    <caption><aui-docs-component>aui-section</aui-docs-component></caption>
    <thead>
    <tr>
        <th>Name</th>
        <th>Attribute</th>
        <th>Property</th>
        <th>Type</th>
        <th class="description">Description</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td><code>label</code></td>
        <td><span class="aui-icon aui-icon-small aui-iconfont-success">is an attribute</span></td>
        <td><span class="aui-icon aui-icon-small aui-iconfont-success">is a property</span></td>
        <td>String</td>
        <td>The text that will appear in the heading of a dropdown section.</td>
    </tr>
    <tr>
        <td class="no-wrap"><code>class="aui-list-truncate"</code></td>
        <td><span class="aui-icon aui-icon-small aui-iconfont-close-dialog">is not an attribute</span></td>
        <td><span class="aui-icon aui-icon-small aui-iconfont-close-dialog">is not a property</span></td>
        <td>String</td>
        <td>Add this class to <aui-docs-component>aui-section</aui-docs-component> element to truncate its width to the width defined by the <code>min-width</code> and <code>max-width</code> styles.</td>
    </tr>
    </tbody>
</table>

<h4 id="api-reference-link-item">Link item</h4>

<table class="aui">
    <caption><aui-docs-component>aui-item-link</aui-docs-component></caption>
    <thead>
    <tr>
        <th>Name</th>
        <th>Attribute</th>
        <th>Property</th>
        <th>Type</th>
        <th class="description">Description</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td><code>for</code></td>
        <td><span class="aui-icon aui-icon-small aui-iconfont-success">is an attribute</span></td>
        <td><span class="aui-icon aui-icon-small aui-iconfont-success">is a property</span></td>
        <td>Boolean</td>
        <td>The <code>id</code> of another dropdown that this link will open as a submenu.</td>
    </tr>
    <tr>
        <td><code>href</code></td>
        <td><span class="aui-icon aui-icon-small aui-iconfont-success">is an attribute</span></td>
        <td><span class="aui-icon aui-icon-small aui-iconfont-success">is a property</span></td>
        <td>Boolean</td>
        <td>The target URL of the link item.</td>
    </tr>
    <tr>
        <td><code>disabled</code></td>
        <td><span class="aui-icon aui-icon-small aui-iconfont-success">is an attribute</span></td>
        <td><span class="aui-icon aui-icon-small aui-iconfont-success">is a property</span></td>
        <td>Boolean</td>
        <td>If set, the dropdown item will not be selectable by the user.</td>
    </tr>
    <tr>
        <td><code>hidden</code></td>
        <td><span class="aui-icon aui-icon-small aui-iconfont-success">is an attribute</span></td>
        <td><span class="aui-icon aui-icon-small aui-iconfont-success">is a property</span></td>
        <td>Boolean</td>
        <td>If set, the dropdown item will not be visible.</td>
    </tr>
    <tr>
        <td><code>interactive</code></td>
        <td><span class="aui-icon aui-icon-small aui-iconfont-success">is an attribute</span></td>
        <td><span class="aui-icon aui-icon-small aui-iconfont-success">is a property</span></td>
        <td>Boolean</td>
        <td>If set, the dropdown item will not close when clicked.</td>
    </tr>
    </tbody>
</table>

<h4 id="api-reference-checkbox-item">Checkbox item</h4>

<table class="aui">
    <caption><aui-docs-component>aui-item-checkbox</aui-docs-component></caption>
    <thead>
    <tr>
        <th>Name</th>
        <th>Attribute</th>
        <th>Property</th>
        <th>Type</th>
        <th class="description">Description</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td><code>checked</code></td>
        <td><span class="aui-icon aui-icon-small aui-iconfont-success">is an attribute</span></td>
        <td><span class="aui-icon aui-icon-small aui-iconfont-success">is a property</span></td>
        <td>Boolean</td>
        <td>If set, the dropdown item will be selected.</td>
    </tr>
    <tr>
        <td><code>disabled</code></td>
        <td><span class="aui-icon aui-icon-small aui-iconfont-success">is an attribute</span></td>
        <td><span class="aui-icon aui-icon-small aui-iconfont-success">is a property</span></td>
        <td>Boolean</td>
        <td>If set, the dropdown item will not be selectable by the user.</td>
    </tr>
    <tr>
        <td><code>hidden</code></td>
        <td><span class="aui-icon aui-icon-small aui-iconfont-success">is an attribute</span></td>
        <td><span class="aui-icon aui-icon-small aui-iconfont-success">is a property</span></td>
        <td>Boolean</td>
        <td>If set, the dropdown item will not be visible.</td>
    </tr>
    <tr>
        <td><code>interactive</code></td>
        <td><span class="aui-icon aui-icon-small aui-iconfont-success">is an attribute</span></td>
        <td><span class="aui-icon aui-icon-small aui-iconfont-success">is a property</span></td>
        <td>Boolean</td>
        <td>If set, the dropdown item will not close when clicked.</td>
    </tr>
    </tbody>
</table>

<h4 id="api-reference-radio-item">Radio item</h4>

<table class="aui">
    <caption><aui-docs-component>aui-item-radio</aui-docs-component></caption>
    <thead>
    <tr>
        <th>Name</th>
        <th>Attribute</th>
        <th>Property</th>
        <th>Type</th>
        <th class="description">Description</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td><code>checked</code></td>
        <td><span class="aui-icon aui-icon-small aui-iconfont-success">is an attribute</span></td>
        <td><span class="aui-icon aui-icon-small aui-iconfont-success">is a property</span></td>
        <td>Boolean</td>
        <td>If set, the dropdown item will be selected.</td>
    </tr>
    <tr>
        <td><code>disabled</code></td>
        <td><span class="aui-icon aui-icon-small aui-iconfont-success">is an attribute</span></td>
        <td><span class="aui-icon aui-icon-small aui-iconfont-success">is a property</span></td>
        <td>Boolean</td>
        <td>If set, the dropdown item will not be selectable by the user.</td>
    </tr>
    <tr>
        <td><code>hidden</code></td>
        <td><span class="aui-icon aui-icon-small aui-iconfont-success">is an attribute</span></td>
        <td><span class="aui-icon aui-icon-small aui-iconfont-success">is a property</span></td>
        <td>Boolean</td>
        <td>If set, the dropdown item will not be visible.</td>
    </tr>
    <tr>
        <td><code>interactive</code></td>
        <td><span class="aui-icon aui-icon-small aui-iconfont-success">is an attribute</span></td>
        <td><span class="aui-icon aui-icon-small    aui-iconfont-success">is a property</span></td>
        <td>Boolean</td>
        <td>If set, the dropdown item will not close when clicked.</td>
    </tr>
    </tbody>
</table>
