---
component: Icons
layout: main-layout.html
analytics:
  pageCategory: component
  component: icon
---
<a href="https://design.atlassian.com/latest/product/foundations/iconography/" class="aui-button aui-button-link docs-meta-link">Design
    guidelines</a>

<h3>Summary</h3>
<p>Icons are visual artifacts to communicate, guide and inform the user. They can help users find their way through an
    interface, make the meaning of buttons clearer, and prepare users for what is happening next. Icons work at their
    best when they're consistent, familiar and recognizable to the user.
</p>

<h3>Status</h3>
<table class="aui summary">
    <tbody>
        <tr>
            <th>API status:</th>
            <td><span class="aui-lozenge aui-lozenge-success">general</span></td>
        </tr>
        <tr>
            <th>Included in AUI core?</th>
            <td><span class="aui-lozenge aui-lozenge-current">Not in core</span> You must explicitly require the web
                resource key.
            </td>
        </tr>
        <tr>
            <th>Web resource key:</th>
            <td class="resource-key" data-resource-key="com.atlassian.auiplugin:aui-experimental-iconfont"><code>com.atlassian.auiplugin:aui-experimental-iconfont</code>
            </td>
        </tr>
        <tr>
            <th>AMD Module key:</th>
            <td class="resource-key">N/A</td>
        </tr>
        <tr>
            <th>Experimental since:</th>
            <td>5.0</td>
        </tr>
        <tr>
            <th>General API status:</th>
            <td>5.1</td>
        </tr>
    </tbody>
</table>

<h3>Examples</h3>
<script src="//cdnjs.cloudflare.com/ajax/libs/clipboard.js/1.5.1/clipboard.min.js"></script>
<div class="aui-flatpack-example">
    <div class="aui-group">
        <form class="aui" onsubmit="return false">
            <input id="search-icons" placeholder="Search" autocomplete="off" type="text" class="text">
        </form>
    </div>
    <div class="aui-group">
        <div id="icons-list"><p>Loading icons...</p></div>
    </div>
</div>

<p>You should adjust the alternative text (the text inside the SPAN element) to suit the meaning
    and usability of your scenario. If you are using it in a button which has the button's action as visible text, you
    don't need to duplicate the text inside the icon too. However if you are creating an icon-only control, you should
    include the alternative text.</p>

<h3>Code</h3>
<h4>HTML</h4>
<p>Icons are simply SPAN elements with an image or icon font applied. Text inside the span is hidden and can be used as
    assistive/alternative text.
</p>
<noscript is="aui-docs-code" type="text/html">
    <span class="aui-icon aui-icon-SIZE aui-iconfont-TYPE">Alternative Text</span>
</noscript>
<h4>Soy</h4>
<noscript is="aui-docs-code" type="text/handlebars">
    {call aui.icons.icon}
        {param useIconFont: true /}
        {param size: 'large' /}
        {param icon: 'configure' /}
    {/call}
</noscript>

<h3>Options</h3>
<p>Vector icon sizes:</p>
<ul>
    <li>small</li>
    <li>large</li>
</ul>
<h4>Simple 'wait' spinner</h4>
<p>You're waiting. The user's waiting. Use the wait icon:
    <span class="aui-icon aui-icon-wait">Loading, please wait</span></p>
<aui-docs-example>
    <noscript is="aui-docs-code" type="text/html">
        <span class="aui-icon aui-icon-wait">Loading...</span>
    </noscript>
</aui-docs-example>
<p>By default this icon expects a white background; but will also work in Buttons, Dropdown2, Tabs and Navigation. Small
    only.
</p>
