---
component: Page header
layout: main-layout.html
analytics:
  pageCategory: component
  component: page-header
---

<a href="https://design.atlassian.com/latest/product/components/navigation#page-header/" class="aui-button aui-button-link docs-meta-link">Design guidelines</a>
<h3>Summary</h3>
<p>The page header gives context to the content within the page. It is made up of a combination of the page title, avatar, metadata and related actions of the title. This is a strict pattern. Variation from the markup documented here is not supported.</p>
<h3>Status</h3>
<table class="aui summary">
    <tbody>
        <tr>
            <th>API status:</th>
            <td><span class="aui-lozenge aui-lozenge-success">general</span>
            </td>
        </tr>
        <tr>
            <th>Included in AUI core?</th>
            <td>Yes. You do not need to explicitly require the web resource key.</td>
        </tr>
        <tr>
            <th>Web resource key:</th>
            <td class="resource-key" data-resource-key="com.atlassian.auiplugin:aui-page-header"><code>com.atlassian.auiplugin:aui-page-header</code>
            </td>
        </tr>
        <tr>
            <th>AMD Module key:</th>
            <td class="resource-key">N/A</td>
        </tr>
        <tr>
            <th>Experimental since:</th>
            <td>3.7</td>
        </tr>
        <tr>
            <th>General API status:</th>
            <td>5.0</td>
        </tr>
    </tbody>
</table>

<h3>Examples</h3>
<div id="pageheader-example" class="aui-flatpack-example">
    <header class="aui-page-header">
        <div class="aui-page-header-inner">
            <div class="aui-page-header-image"><span class="aui-avatar aui-avatar-xlarge aui-avatar-project"><span class="aui-avatar-inner"><img src="images/project-48.png"></span></span>
            </div>
            <div class="aui-page-header-main">
                <ol class="aui-nav aui-nav-breadcrumbs">
                    <li><a href="#">Breadcrumbs</a>
                    </li>
                    <li class="aui-nav-selected">Parent page</li>
                </ol>
                <h1>Page title</h1>
            </div>
            <div class="aui-page-header-actions">
                <div class="aui-buttons">
                    <button class="aui-button aui-button-light">Left action</button>
                    <button class="aui-button aui-button-light">Action</button>
                    <button class="aui-button aui-button-light">Right action</button>
                </div>
            </div>
        </div>
    </header>
</div>
<h3>Code</h3>
<h4>HTML</h4>
<p>The page header is designed to include one or more of the following elements.</p>
<ul>
    <li>A heading (required).</li>
    <li>Breadcrumbs</li>
    <li>Action buttons that should be located at the right side of the header.</li>
    <li>An avatar that is located to the left.</li>
    <li>A small form such as a search field.</li>
</ul>
<p>Note:Avatar, breadcrumb navigation and Buttons are components in their own right, combined with the Page Header wrapper.</p>

<aui-docs-example>
    <noscript is="aui-docs-code" type="text/html">
        <header class="aui-page-header">
            <div class="aui-page-header-inner">
                <div class="aui-page-header-image">
                    <span class="aui-avatar aui-avatar-large aui-avatar-project">
                        <span class="aui-avatar-inner">
                            <img alt="Atlassian logo" src="images/avatar-64.png">
                        </span>
                    </span>
                </div>
                <div class="aui-page-header-main">
                    <ol class="aui-nav aui-nav-breadcrumbs">
                        <li><a href="http://example.com/">Breadcrumbs</a></li>
                        <li><a href="http://example.com/" class="custom">Sub-page</a></li>
                        <li class="aui-nav-selected">Direct parent page</li>
                    </ol>
                    <h1>A typical page header with an avatar, breadcrumbs and actions</h1>
                </div>
                <div class="aui-page-header-actions">
                    <div class="aui-buttons">
                        <button class="aui-button aui-button-light">Light button</button>
                        <button class="aui-button aui-button-light">Light button</button>
                        <button class="aui-button aui-button-light">Light button</button>
                    </div>
                </div>
            </div>
        </header>
    </noscript>
</aui-docs-example>
