---
component: Spinner
layout: main-layout.html
analytics:
  pageCategory: component
  component: spinner
---

<a href="https://design.atlassian.com/latest/product/components/progress-indicators/" class="aui-button aui-button-link docs-meta-link">Design guidelines</a>

<h3>Summary</h3>
<p>An optional component providing spin.js, a highly customisable javascript spinner. Note this is a separate component from the simple wait icon included in AUI Icons.</p>

<h3>Status</h3>
<table class="aui summary">
    <tbody>
        <tr>
            <th>API status:</th>
            <td><span class="aui-lozenge aui-lozenge-success">general</span></td>
        </tr>
        <tr>
            <th>Included in AUI core?</th>
            <td><span class="aui-lozenge aui-lozenge-current">Not in core</span> You must explicitly require the web resource key.</td>
        </tr>
        <tr>
            <th>Web resource key:</th>
            <td class="resource-key" data-resource-key="com.atlassian.auiplugin:aui-spinner"><code>com.atlassian.auiplugin:aui-spinner</code></td>
        </tr>
        <tr>
            <th>AMD Module key:</th>
            <td class="resource-key">N/A</td>
        </tr>
        <tr>
            <th>Experimental since:</th>
            <td>5.1</td>
        </tr>
        <tr>
            <th>General API status:</th>
            <td>5.8</td>
        </tr>
    </tbody>
</table>

<h3>Examples</h3>

<h3>Simple spinner</h3>
<aui-docs-example live-demo>
    <noscript is="aui-docs-code" type="text/html">
        <button class="aui-button" id="spinner-trigger">Do Something</button>
        <span class="button-spinner" style="display: inline-block; height: 10px; width: 20px"></span>
    </noscript>

    <noscript is="aui-docs-code" type="text/js">
        AJS.$(function() {
            var spinning = false;
            AJS.$('#spinner-trigger').on('click', function() {
                if (!spinning) {
                    AJS.$(this).text('Stop Spinning!');
                    AJS.$('.button-spinner').spin();
                    spinning = true;
                } else {
                    AJS.$(this).text('Do Something');
                    AJS.$('.button-spinner').spinStop();
                    spinning = false;
                }
            });
        });
    </noscript>
</aui-docs-example>

<h3>Busy button</h3>
<aui-docs-example live-demo>
    <noscript is="aui-docs-code" type="text/html">
        <button class="aui-button" id="button-spin-1">Do Something</button>
        <button class="aui-button aui-button-primary" id="button-spin-2">Do Something</button>
    </noscript>

    <noscript is="aui-docs-code" type="text/js">
        AJS.$(function() {
            AJS.$('#button-spin-1, #button-spin-2').click(function () {
                if (!this.isBusy()) {
                    this.setAttribute('aria-disabled', 'true');
                    this.busy();

                    var that = this;
                    setTimeout(function () {
                        that.setAttribute('aria-disabled', 'false');
                        that.idle();
                    }, 2000);
                }
            });
        });
    </noscript>
</aui-docs-example>

<h4>What Spinner does</h4>
<p>Spinner will append:</p>
<noscript is="aui-docs-code" type="text/html">
    <div class="aui-spinner spinner"></div>
    ...
</noscript>
<p>Inside the specified target element on .spin() and remove it on .spinStop().</p>
