---
component: Upgrade guides
layout: main-layout.html
analytics:
  pageCategory: upgrade-guide
  component: all
---

<p>
    The following lists all of the backward incompatible changes and their alternatives.
    If no alternative is provided, advice will be given on how to proceed.
</p>

<aui-docs-contents></aui-docs-contents>

<h3 id="7.6.x-to-7.7">Upgrading from 7.6.x to 7.7</h3>

<p>
    AUI 7.7 updates the style of various "progress" patterns &mdash;
    <a href="progress-indicator.html">progress bars</a>, <a href="spinner.html">spinners</a>,
    and <a href="progress-tracker.html">multi-step progress</a> &mdash; to match those found
    in the Atlassian Design Guidelines.
    To make implementation simpler, there are new APIs to consume some of these components.
</p>

<h4>Progress bars</h4>

<p>
    A new web component API for progress bars was added and documented on the
    <a href="progress-indicator.html">progress indicator</a> page. With this addition, the
    old markup pattern and imperative JavaScript APIs are now deprecated.
</p>

<p>
    The new web component API allows you to set and affect the progress bar's value
    through the element's attributes or properties. This means you can now create a progress bar
    and set its initial value using only HTML.
</p>

<noscript is="aui-docs-code" type="text/html">
    <!-- Deprecated progress bar pattern -->
    <div class="aui-progress-indicator" id="my-progress-tracker">
        <span class="aui-progress-indicator-value"></span>
    </div>
    <script>AJS.progressBars.update('my-progress-tracker', 0.7);</script>

    <!-- New progress bar pattern -->
    <aui-progressbar value="0.7"></aui-progressbar>
</noscript>

<p>We think you'll agree that this makes indicating progress in your UI much simpler.</p>

<h4>Sidebar</h4>

<p>
    When an AUI sidebar is rendered (typically on <code>DomContentLoaded</code>) it would force
    a synchronous layout. This was an unnecessary slow-down of page rendering. A sidebar now always renders
    in a <code>requestAnimationFrame</code> callback, even when the element is created synchronously.
</p>

<p>
    If your code depends on the sidebar's dimensions being calculated and determined immediately after a
    sidebar is created, this code will no longer work. We currently do not provide a signal (such as an event)
    for determining when the sidebar's dimensions have been calcualted.
    <br/>
    Though we believe this should not be a breaking  change for most sidebar consumers, we will monitor implementor
    feedback to see whether an alternative signal for a sidebar being rendered is required.
</p>

<h4>Page footer</h4>

<p>
    The AUI page footer outputs the Atlassian logo in a <code>#footer-logo</code> element. The CSS selector to
    render this image has been simplified, which may invalidate any overrides to the footer area.
    <br />
    As part of this upgrade, you should review your CSS overrides to the footer, removing any unnecessary selectors.
</p>

<h3 id="7.5.x-to-7.6">Upgrading from 7.5.x to 7.6</h3>

<p>
    AUI 7.6 updates the style of various navigation patterns &mdash; sidebar, vertical navigation,
    and horizontal navigation &mdash; to match those found in the Atlassian
    Design Guidelines.
</p>

<h4>Vertical navigation</h4>

<p>
    The design of vertical navigation was updated to remove borders between subsequent lists of items.
    It is expected that most groups of links will be preceded by a heading. In cases where no heading exists,
    AUI now adds whitespace between the two groups instead of a separator line.
</p>

<h4>Sidebar</h4>

<p>
    In updating AUI's sidebar's aesthetic, a large amount of unnecessary CSS was removed. While most of these
    changes should be transparent to implementors, there were some minor changes made to reduce redundancy
    that require implementor attention.
</p>

<h5>Sidebar body changes</h5>

<p>
    The AUI sidebar pattern houses groups of sidebar items (<code>.aui-sidebar-group</code>) within an
    <code>.aui-sidebar-wrapper</code> element. It also allows links and buttons to be placed in the
    <code>.aui-sidebar-footer</code> element. Previously, the content of these containers were aligned
    using negative margin tricks. These groups are now positioned via flexbox.
    <br />
    Implementors should remove their CSS overrides to various margins and paddings of groups and containers within
    the AUI sidebar, so that content is correctly fitted and centred within the sidebar body.
</p>

<h5>Sidebar navigation item changes</h5>

<p>
    Previously, <code>.aui-nav-item</code> elements in the sidebar had an effective height of <code>30px</code>.
    They now have an effective height of 34px.
    <br/>
    In conjunction with changes to the sidebar body, navigation items no longer touch the edges of the sidebar; instead,
    they render in a similar manner to the basic vertical navigation pattern.
    <br/>
    Implementors should review any elements they position relatively to either fit within the <code>.aui-nav-item</code>
    element itself, or otherwise appear to align with their text content. Implementors should also check that any
    custom items they have do not touch the edges of the sidebar.
</p>

<h5>Sidebar iconography changes</h5>

<p>
    The new sidebar design changes the colour of icons from "Grey" (<code>#707070</code>) to "N400 - Concrete Jungle"
    (<code>#505F79</code>).
    <br />
    While AUI's sidebar pattern makes provisions for using a slightly larger icon glyph in an "aui-icon" element
    &mdash; 20px instead of the typical 16px &mdash; AUI has not provided these larger icons; they are typically
    provided by products and plugins.
    <br />
    As part of this upgrade, you will need to adjust the fill color of any icons you place in the sidebar that
    do not come from AUI (which is probably most of them).
</p>

<h3 id="7.4.x-to-7.5">Upgrading from 7.4.x to 7.5</h3>

<p>
    AUI 7.5 updates a majority of the icon set delivered via AUI to be harmonious with the Atlassian Design Guidelines.
</p>

<h5>Icon font declaration change</h5>

<p>
    AUI delivers its iconography though a set of icon fonts. The <code>@font-face</code> declaration for these
    icon fonts changed location. Depending on whether you are consuming AUI through
    the AUI distribution, the <code>lib</code>, or the P2 plugin, the font delivery mechanism is slightly different.
</p>

<ul>
    <li>
        If you use AUI via the P2 plugin, no changes should be necessary on your part. <br /> If you are inspecting or
        analysing resource URLs at product runtime, note that the web-resource location of the font assets have changed
        from <code>com.atlassian.auiplugin:icons</code> to <code>com.atlassian.auiplugin:internal-iconfont-v1</code>
        and <code>com.atlassian.auiplugin:internal-iconfont-v2</code>.
    </li>
    <li>
        If you are using the AUI distribution files (those found in the <code>dist</code> folder of the AUI
        Node package), no changes should be necessary on your part. You can consume either <code>dist/css/aui.css</code>
        or <code>dist/css/aui-iconography.css</code>; the <code>@font-face</code> definition is present in both.
    </li>
    <li>
        If you use assets from the <code>lib/</code> folder, you will need to explicitly consume both the
        <code>lib/css/iconfont-atlassian-icons.css</code> and <code>lib/css/iconfont-adgs-icons.css</code> files
        in order to add the necessary <code>@font-face</code> definitions to your code.
    </li>
</ul>

<h5>Icon name changes</h5>

<p>
    Some icons are either no longer needed or have changed in their representation.
    Check below for a table of icon glyphs that changed and the suggested upgrade path for each.
    Some icons that are no longer used in Atlassian products may be removed in a future version.
</p>

<table class="aui">
    <thead>
        <tr>
            <th>Old icon name</th>
            <th>New equivalent</th>
            <th>Reason</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td><code>aui-iconfont-image-extrasmall</code></td>
            <td><code>aui-iconfont-image</code></td>
            <td>
                Non-standard icon sizes are not necessary.
                AUI will only allow "-small" size variants for its icon names.
            </td>
        </tr>
        <tr>
            <td><code>aui-icon-dropdown</code></td>
            <td><code>aui-icon-chevron-down</code></td>
            <td>
                Using <code>aui-icon-dropdown</code> is deprecated in AUI;
                it is part of a legacy markup pattern for dropdown elements.
                Dropdown2's <code>aui-dropdown2-trigger</code> class achieves
                the dropdown chevron without needing an explicit HTML element
                for it, which simplifies things for implementors.
            </td>
        </tr>
        <tr>
            <td><code>aui-iconfont-appswitcher</code></td>
            <td><code>aui-iconfont-menu</code></td>
            <td>The icon was renamed. It was a part of the ADG2 icon set.</td>
        </tr>
        <tr>
            <td><code>aui-iconfont-build</code></td>
            <td><code>aui-iconfont-refresh</code></td>
            <td>The icon was renamed. It was a part of the ADG2 icon set.</td>
        </tr>
        <tr>
            <td><code>aui-iconfont-close-dialog</code></td>
            <td><code>aui-iconfont-cross</code></td>
            <td>The icon was renamed. It was a part of the ADG2 icon set.</td>
        </tr>
        <tr>
            <td><code>aui-iconfont-collapsed</code></td>
            <td><code>aui-iconfont-chevron-down</code></td>
            <td>The icon was renamed. It was a part of the ADG2 icon set.</td>
        </tr>
        <tr>
            <td><code>aui-iconfont-configure</code></td>
            <td><code>aui-iconfont-settings</code></td>
            <td>The icon was renamed. It was a part of the ADG2 icon set.</td>
        </tr>
        <tr>
            <td><code>aui-iconfont-copy-clipboard</code></td>
            <td><code>aui-iconfont-copy</code></td>
            <td>The icon was renamed. It was a part of the ADG2 icon set.</td>
        </tr>
        <tr>
            <td><code>aui-iconfont-delete</code></td>
            <td><code>aui-iconfont-trash</code></td>
            <td>The icon was renamed. It was a part of the ADG2 icon set.</td>
        </tr>
        <tr>
            <td><code>aui-iconfont-details</code></td>
            <td><code>aui-iconfont-detail-view</code></td>
            <td>The icon was renamed. It was a part of the ADG2 icon set.</td>
        </tr>
        <tr>
            <td><code>aui-iconfont-devtools-arrow-left</code></td>
            <td><code>aui-iconfont-arrow-left</code></td>
            <td>The icon was renamed. It was a part of the ADG2 icon set.</td>
        </tr>
        <tr>
            <td><code>aui-iconfont-devtools-arrow-right</code></td>
            <td><code>aui-iconfont-arrow-right</code></td>
            <td>The icon was renamed. It was a part of the ADG2 icon set.</td>
        </tr>
        <tr>
            <td><code>aui-iconfont-devtools-checkout</code></td>
            <td><code>aui-iconfont-sign-in</code></td>
            <td>The icon was renamed. It was a part of the ADG2 icon set.</td>
        </tr>
        <tr>
            <td><code>aui-iconfont-devtools-clone</code></td>
            <td><code>aui-iconfont-import</code></td>
            <td>The icon was renamed. It was a part of the ADG2 icon set.</td>
        </tr>
        <tr>
            <td><code>aui-iconfont-devtools-folder-closed</code></td>
            <td><code>aui-iconfont-folder-filled</code></td>
            <td>The icon was renamed. It was a part of the ADG2 icon set.</td>
        </tr>
        <tr>
            <td><code>aui-iconfont-devtools-pull-request</code></td>
            <td><code>aui-iconfont-export</code></td>
            <td>The icon was renamed. It was a part of the ADG2 icon set.</td>
        </tr>
        <tr>
            <td><code>aui-iconfont-devtools-tag</code></td>
            <td><code>aui-iconfont-tag</code></td>
            <td>The icon was renamed. It was a part of the ADG2 icon set.</td>
        </tr>
        <tr>
            <td><code>aui-iconfont-devtools-tag-small</code></td>
            <td><code>aui-iconfont-tag</code></td>
            <td>The icon was renamed. It was a part of the ADG2 icon set.</td>
        </tr>
        <tr>
            <td><code>aui-iconfont-drag-vertical</code></td>
            <td><code>aui-iconfont-menu</code></td>
            <td>The icon was renamed. It was a part of the ADG2 icon set.</td>
        </tr>
        <tr>
            <td><code>aui-iconfont-edit</code></td>
            <td><code>aui-iconfont-edit-filled</code></td>
            <td>The icon was renamed. It was a part of the ADG2 icon set.</td>
        </tr>
        <tr>
            <td><code>aui-iconfont-edit-small</code></td>
            <td><code>aui-iconfont-edit-filled</code></td>
            <td>The icon was renamed. It was a part of the ADG2 icon set.</td>
        </tr>
        <tr>
            <td><code>aui-iconfont-expanded</code></td>
            <td><code>aui-iconfont-chevron-up</code></td>
            <td>The icon was renamed. It was a part of the ADG2 icon set.</td>
        </tr>
        <tr>
            <td><code>aui-iconfont-focus</code></td>
            <td><code>aui-iconfont-vid-full-screen-on</code></td>
            <td>The icon was renamed. It was a part of the ADG2 icon set.</td>
        </tr>
        <tr>
            <td><code>aui-iconfont-handle-horizontal</code></td>
            <td><code>aui-iconfont-more-vertical</code></td>
            <td>The icon was renamed. It was a part of the ADG2 icon set.</td>
        </tr>
        <tr>
            <td><code>aui-iconfont-help</code></td>
            <td><code>aui-iconfont-question-circle</code></td>
            <td>The icon was renamed. It was a part of the ADG2 icon set.</td>
        </tr>
        <tr>
            <td><code>aui-iconfont-homepage</code></td>
            <td><code>aui-iconfont-home-circle</code></td>
            <td>The icon was renamed. It was a part of the ADG2 icon set.</td>
        </tr>
        <tr>
            <td><code>aui-iconfont-image-extrasmall</code></td>
            <td><code>aui-iconfont-image</code></td>
            <td>The icon was renamed. It was a part of the ADG2 icon set.</td>
        </tr>
        <tr>
            <td><code>aui-iconfont-info</code></td>
            <td><code>aui-iconfont-info-circle</code></td>
            <td>The icon was renamed. It was a part of the ADG2 icon set.</td>
        </tr>
        <tr>
            <td><code>aui-iconfont-weblink</code></td>
            <td><code>aui-iconfont-world</code></td>
            <td>The icon was renamed. It was a part of the ADG2 icon set.</td>
        </tr>
        <tr>
            <td><code>aui-iconfont-list-add</code></td>
            <td><code>aui-iconfont-add-circle</code></td>
            <td>The icon was renamed. It was a part of the ADG2 icon set.</td>
        </tr>
        <tr>
            <td><code>aui-iconfont-list-remove</code></td>
            <td><code>aui-iconfont-cross-circle</code></td>
            <td>The icon was renamed. It was a part of the ADG2 icon set.</td>
        </tr>
        <tr>
            <td><code>aui-iconfont-locked</code></td>
            <td><code>aui-iconfont-lock-filled</code></td>
            <td>The icon was renamed. It was a part of the ADG2 icon set.</td>
        </tr>
        <tr>
            <td><code>aui-iconfont-locked-small</code></td>
            <td><code>aui-iconfont-lock-filled</code></td>
            <td>The icon was renamed. It was a part of the ADG2 icon set.</td>
        </tr>
        <tr>
            <td><code>aui-iconfont-page-blank</code></td>
            <td><code>aui-iconfont-document</code></td>
            <td>The icon was renamed. It was a part of the ADG2 icon set.</td>
        </tr>
        <tr>
            <td><code>aui-iconfont-doc</code></td>
            <td><code>aui-iconfont-document</code></td>
            <td>The icon was renamed. It was a part of the ADG2 icon set.</td>
        </tr>
        <tr>
            <td><code>aui-iconfont-pages</code></td>
            <td><code>aui-iconfont-documents</code></td>
            <td>The icon was renamed. It was a part of the ADG2 icon set.</td>
        </tr>
        <tr>
            <td><code>aui-iconfont-remove</code></td>
            <td><code>aui-iconfont-cross-circle</code></td>
            <td>The icon was renamed. It was a part of the ADG2 icon set.</td>
        </tr>
        <tr>
            <td><code>aui-iconfont-remove-label</code></td>
            <td><code>aui-iconfont-cross-circle</code></td>
            <td>The icon was renamed. It was a part of the ADG2 icon set.</td>
        </tr>
        <tr>
            <td><code>aui-iconfont-search-small</code></td>
            <td><code>aui-iconfont-search</code></td>
            <td>The icon was renamed. It was a part of the ADG2 icon set.</td>
        </tr>
        <tr>
            <td><code>aui-iconfont-space-personal</code></td>
            <td><code>aui-iconfont-person-circle</code></td>
            <td>The icon was renamed. It was a part of the ADG2 icon set.</td>
        </tr>
        <tr>
            <td><code>aui-iconfont-star</code></td>
            <td><code>aui-iconfont-star-filled</code></td>
            <td>The icon was renamed. It was a part of the ADG2 icon set.</td>
        </tr>
        <tr>
            <td><code>aui-iconfont-success</code></td>
            <td><code>aui-iconfont-check</code></td>
            <td>The icon was renamed. It was a part of the ADG2 icon set.</td>
        </tr>
        <tr>
            <td><code>aui-iconfont-time</code></td>
            <td><code>aui-iconfont-recent</code></td>
            <td>The icon was renamed. It was a part of the ADG2 icon set.</td>
        </tr>
        <tr>
            <td><code>aui-iconfont-unfocus</code></td>
            <td><code>aui-iconfont-vid-full-screen-off</code></td>
            <td>The icon was renamed. It was a part of the ADG2 icon set.</td>
        </tr>
        <tr>
            <td><code>aui-iconfont-unlocked</code></td>
            <td><code>aui-iconfont-unlock-filled</code></td>
            <td>The icon was renamed. It was a part of the ADG2 icon set.</td>
        </tr>
        <tr>
            <td><code>aui-iconfont-unstar</code></td>
            <td><code>aui-iconfont-star</code></td>
            <td>The icon was renamed. It was a part of the ADG2 icon set.</td>
        </tr>
        <tr>
            <td><code>aui-iconfont-unwatch</code></td>
            <td><code>aui-iconfont-watch</code></td>
            <td>The icon was renamed. It was a part of the ADG2 icon set.</td>
        </tr>
        <tr>
            <td><code>aui-iconfont-up</code></td>
            <td><code>aui-iconfont-arrow-up</code></td>
            <td>The icon was renamed. It was a part of the ADG2 icon set.</td>
        </tr>
        <tr>
            <td><code>aui-iconfont-down</code></td>
            <td><code>aui-iconfont-arrow-down</code></td>
            <td>The icon was renamed. It was a part of the ADG2 icon set.</td>
        </tr>
        <tr>
            <td><code>aui-iconfont-user</code></td>
            <td><code>aui-iconfont-person</code></td>
            <td>The icon was renamed. It was a part of the ADG2 icon set.</td>
        </tr>
        <tr>
            <td><code>aui-iconfont-view</code></td>
            <td><code>aui-iconfont-watch-filled</code></td>
            <td>The icon was renamed. It was a part of the ADG2 icon set.</td>
        </tr>
        <tr>
            <td><code>aui-iconfont-view-list</code></td>
            <td><code>aui-iconfont-room-menu</code></td>
            <td>The icon was renamed. It was a part of the ADG2 icon set.</td>
        </tr>
        <tr>
            <td><code>aui-iconfont-view-table</code></td>
            <td><code>aui-iconfont-menu</code></td>
            <td>The icon was renamed. It was a part of the ADG2 icon set.</td>
        </tr>
        <tr>
            <td><code>aui-iconfont-watch</code></td>
            <td><code>aui-iconfont-watch-filled</code></td>
            <td>The icon was renamed. It was a part of the ADG2 icon set.</td>
        </tr>
        <tr>
            <td><code>aui-iconfont-workbox</code></td>
            <td><code>aui-iconfont-tray</code></td>
            <td>The icon was renamed. It was a part of the ADG2 icon set.</td>
        </tr>
        <tr>
            <td><code>aui-iconfont-configure-columns</code></td>
            <td><code>aui-iconfont-bullet-list</code></td>
            <td>The icon was renamed. It was a part of the ADG2 icon set.</td>
        </tr>
        <tr>
            <td><code>aui-iconfont-file-image</code></td>
            <td><code>aui-iconfont-image</code></td>
            <td>The icon was renamed. It was a part of the ADG2 icon set.</td>
        </tr>
        <tr>
            <td><code>aui-iconfont-admin-roles</code></td>
            <td><code>aui-iconfont-group</code></td>
            <td>The icon was renamed. It was a part of the ADG2 icon set.</td>
        </tr>
        <tr>
            <td><code>aui-iconfont-pause</code></td>
            <td><code>aui-iconfont-vid-pause</code></td>
            <td>The icon was renamed. It was a part of the ADG2 icon set.</td>
        </tr>
        <tr>
            <td><code>aui-iconfont-refresh-small</code></td>
            <td><code>aui-iconfont-refresh</code></td>
            <td>The icon was renamed. It was a part of the ADG2 icon set.</td>
        </tr>
        <tr>
            <td><code>aui-iconfont-switch-small</code></td>
            <td><code>aui-iconfont-swap</code></td>
            <td>The icon was renamed. It was a part of the ADG2 icon set.</td>
        </tr>
        <tr>
            <td><code>aui-iconfont-arrow-down</code></td>
            <td><code>aui-iconfont-arrow-down-small</code></td>
            <td>The icon was renamed. It was a part of the ADG2 icon set.</td>
        </tr>
        <tr>
            <td><code>aui-iconfont-arrow-up</code></td>
            <td><code>aui-iconfont-arrow-up-small</code></td>
            <td>The icon was renamed. It was a part of the ADG2 icon set.</td>
        </tr>
        <tr>
            <td><code>aui-iconfont-email-large</code></td>
            <td><code>aui-iconfont-email</code></td>
            <td>The icon was renamed. It was a part of the ADG2 icon set.</td>
        </tr>
        <tr>
            <td><code>aui-iconfont-pages-large</code></td>
            <td><code>aui-iconfont-documents</code></td>
            <td>The icon was renamed. It was a part of the ADG2 icon set.</td>
        </tr>
        <tr>
            <td><code>aui-iconfont-user-large</code></td>
            <td><code>aui-iconfont-person</code></td>
            <td>The icon was renamed. It was a part of the ADG2 icon set.</td>
        </tr>
        <tr>
            <td><code>aui-iconfont-confluence</code></td>
            <td><code>aui-iconfont-confluence-icon</code></td>
            <td>The icon was renamed. It was a part of the ADG2 icon set.</td>
        </tr>
        <tr>
            <td><code>aui-iconfont-bp-decisions</code></td>
            <td><code>aui-iconfont-documents</code></td>
            <td>The icon was renamed. It was a part of the ADG2 icon set.</td>
        </tr>
        <tr>
            <td><code>aui-iconfont-bp-default</code></td>
            <td><code>aui-iconfont-documents</code></td>
            <td>The icon was renamed. It was a part of the ADG2 icon set.</td>
        </tr>
        <tr>
            <td><code>aui-iconfont-bp-files</code></td>
            <td><code>aui-iconfont-documents</code></td>
            <td>The icon was renamed. It was a part of the ADG2 icon set.</td>
        </tr>
        <tr>
            <td><code>aui-iconfont-bp-requirements</code></td>
            <td><code>aui-iconfont-documents</code></td>
            <td>The icon was renamed. It was a part of the ADG2 icon set.</td>
        </tr>
        <tr>
            <td><code>aui-iconfont-bp-howto</code></td>
            <td><code>aui-iconfont-documents</code></td>
            <td>The icon was renamed. It was a part of the ADG2 icon set.</td>
        </tr>
        <tr>
            <td><code>aui-iconfont-bp-jira</code></td>
            <td><code>aui-iconfont-documents</code></td>
            <td>The icon was renamed. It was a part of the ADG2 icon set.</td>
        </tr>
        <tr>
            <td><code>aui-iconfont-bp-meeting</code></td>
            <td><code>aui-iconfont-documents</code></td>
            <td>The icon was renamed. It was a part of the ADG2 icon set.</td>
        </tr>
        <tr>
            <td><code>aui-iconfont-bp-retrospective</code></td>
            <td><code>aui-iconfont-documents</code></td>
            <td>The icon was renamed. It was a part of the ADG2 icon set.</td>
        </tr>
        <tr>
            <td><code>aui-iconfont-bp-sharedlinks</code></td>
            <td><code>aui-iconfont-documents</code></td>
            <td>The icon was renamed. It was a part of the ADG2 icon set.</td>
        </tr>
        <tr>
            <td><code>aui-iconfont-bp-troubleshooting</code></td>
            <td><code>aui-iconfont-documents</code></td>
            <td>The icon was renamed. It was a part of the ADG2 icon set.</td>
        </tr>
        <tr>
            <td><code>aui-iconfont-deploy</code></td>
            <td><code>aui-iconfont-upload</code></td>
            <td>The icon was renamed. It was a part of the ADG2 icon set.</td>
        </tr>
        <tr>
            <td><code>aui-iconfont-file</code></td>
            <td><code>aui-iconfont-page-default</code></td>
            <td>The icon was renamed. It was a part of the ADG2 icon set.</td>
        </tr>
        <tr>
            <td><code>aui-iconfont-sidebar-link</code></td>
            <td><code>aui-iconfont-shortcut</code></td>
            <td>The icon was renamed. It was a part of the ADG2 icon set.</td>
        </tr>
        <tr>
            <td><code>aui-iconfont-sidebar-link-large</code></td>
            <td><code>aui-iconfont-shortcut</code></td>
            <td>The icon was renamed. It was a part of the ADG2 icon set.</td>
        </tr>
        <tr>
            <td><code>aui-iconfont-devtools-task-cancelled</code></td>
            <td><code>aui-iconfont-incomplete-build</code></td>
            <td>The icon was renamed. It was a part of the ADG2 icon set.</td>
        </tr>
        <tr>
            <td><code>aui-iconfont-devtools-task-disabled</code></td>
            <td><code>aui-iconfont-plan-disabled</code></td>
            <td>The icon was renamed. It was a part of the ADG2 icon set.</td>
        </tr>
        <tr>
            <td><code>aui-iconfont-devtools-task-in-progress</code></td>
            <td><code>aui-iconfont-queued-build</code></td>
            <td>The icon was renamed. It was a part of the ADG2 icon set.</td>
        </tr>
        <tr>
            <td><code>aui-iconfont-devtools-branch</code></td>
            <td><code>aui-iconfont-branch</code></td>
            <td>The icon was renamed. It was a part of the ADG2 icon set.</td>
        </tr>
        <tr>
            <td><code>aui-iconfont-devtools-branch-small</code></td>
            <td><code>aui-iconfont-branch</code></td>
            <td>The icon was renamed. It was a part of the ADG2 icon set.</td>
        </tr>
        <tr>
            <td><code>aui-iconfont-devtools-commit</code></td>
            <td><code>aui-iconfont-commits</code></td>
            <td>The icon was renamed. It was a part of the ADG2 icon set.</td>
        </tr>
        <tr>
            <td><code>aui-iconfont-devtools-for</code></td>
            <td><code>aui-iconfont-create-fork</code></td>
            <td>The icon was renamed. It was a part of the ADG2 icon set.</td>
        </tr>
        <tr>
            <td><code>aui-iconfont-editor-bold</code></td>
            <td><code>aui-iconfont-bold</code></td>
            <td>The icon was renamed. It was a part of the ADG2 icon set.</td>
        </tr>
        <tr>
            <td><code>aui-iconfont-editor-italic</code></td>
            <td><code>aui-iconfont-italic</code></td>
            <td>The icon was renamed. It was a part of the ADG2 icon set.</td>
        </tr>
        <tr>
            <td><code>aui-iconfont-editor-underline</code></td>
            <td><code>aui-iconfont-underline</code></td>
            <td>The icon was renamed. It was a part of the ADG2 icon set.</td>
        </tr>
        <tr>
            <td><code>aui-iconfont-editor-color</code></td>
            <td><code>aui-iconfont-text-color</code></td>
            <td>The icon was renamed. It was a part of the ADG2 icon set.</td>
        </tr>
        <tr>
            <td><code>aui-iconfont-editor-align-left</code></td>
            <td><code>aui-iconfont-left-alignment</code></td>
            <td>The icon was renamed. It was a part of the ADG2 icon set.</td>
        </tr>
        <tr>
            <td><code>aui-iconfont-editor-align-right</code></td>
            <td><code>aui-iconfont-right-alignment</code></td>
            <td>The icon was renamed. It was a part of the ADG2 icon set.</td>
        </tr>
        <tr>
            <td><code>aui-iconfont-editor-align-center</code></td>
            <td><code>aui-iconfont-center-alignment</code></td>
            <td>The icon was renamed. It was a part of the ADG2 icon set.</td>
        </tr>
        <tr>
            <td><code>aui-iconfont-editor-indent</code></td>
            <td><code>aui-iconfont-indent-left-mall</code></td>
            <td>The icon was renamed. It was a part of the ADG2 icon set.</td>
        </tr>
        <tr>
            <td><code>aui-iconfont-editor-outdent</code></td>
            <td><code>aui-iconfont-indent-right-mall</code></td>
            <td>The icon was renamed. It was a part of the ADG2 icon set.</td>
        </tr>
        <tr>
            <td><code>aui-iconfont-editor-list-number</code></td>
            <td><code>aui-iconfont-number-list-mall</code></td>
            <td>The icon was renamed. It was a part of the ADG2 icon set.</td>
        </tr>
        <tr>
            <td><code>aui-iconfont-editor-list-bullet</code></td>
            <td><code>aui-iconfont-bullet-list-mall</code></td>
            <td>The icon was renamed. It was a part of the ADG2 icon set.</td>
        </tr>
        <tr>
            <td><code>aui-iconfont-editor-mention</code></td>
            <td><code>aui-iconfont-mention</code></td>
            <td>The icon was renamed. It was a part of the ADG2 icon set.</td>
        </tr>
        <tr>
            <td><code>aui-iconfont-editor-macro-toc</code></td>
            <td><code>aui-iconfont-table-of-contents-mall</code></td>
            <td>The icon was renamed. It was a part of the ADG2 icon set.</td>
        </tr>
        <tr>
            <td><code>aui-iconfont-editor-style</code></td>
            <td><code>aui-iconfont-advanced</code></td>
            <td>The icon was renamed. It was a part of the ADG2 icon set.</td>
        </tr>
        <tr>
            <td><code>aui-iconfont-editor-symbol</code></td>
            <td><code>aui-iconfont-symbol</code></td>
            <td>The icon was renamed. It was a part of the ADG2 icon set.</td>
        </tr>
        <tr>
            <td><code>aui-iconfont-editor-hr</code></td>
            <td><code>aui-iconfont-horizontal-rule</code></td>
            <td>The icon was renamed. It was a part of the ADG2 icon set.</td>
        </tr>
        <tr>
            <td><code>aui-iconfont-editor-layout</code></td>
            <td><code>aui-iconfont-page-layout-toggle</code></td>
            <td>The icon was renamed. It was a part of the ADG2 icon set.</td>
        </tr>
        <tr>
            <td><code>aui-iconfont-editor-table</code></td>
            <td><code>aui-iconfont-table</code></td>
            <td>The icon was renamed. It was a part of the ADG2 icon set.</td>
        </tr>
        <tr>
            <td><code>aui-iconfont-nav-children-large</code></td>
            <td><code>aui-iconfont-location</code></td>
            <td>The icon was renamed. It was a part of the ADG2 icon set.</td>
        </tr>
        <tr>
            <td><code>aui-iconfont-nav-children</code></td>
            <td><code>aui-iconfont-location</code></td>
            <td>The icon was renamed. It was a part of the ADG2 icon set.</td>
        </tr>
        <tr>
            <td><code>aui-iconfont-layout-1col-large</code></td>
            <td><code>aui-iconfont-single-column</code></td>
            <td>The icon was renamed. It was a part of the ADG2 icon set.</td>
        </tr>
        <tr>
            <td><code>aui-iconfont-layout-2col-large</code></td>
            <td><code>aui-iconfont-two-column</code></td>
            <td>The icon was renamed. It was a part of the ADG2 icon set.</td>
        </tr>
        <tr>
            <td><code>aui-iconfont-layout-2col-left-large</code></td>
            <td><code>aui-iconfont-right-side-bar</code></td>
            <td>The icon was renamed. It was a part of the ADG2 icon set.</td>
        </tr>
        <tr>
            <td><code>aui-iconfont-layout-2col-right-large</code></td>
            <td><code>aui-iconfont-left-side-bar</code></td>
            <td>The icon was renamed. It was a part of the ADG2 icon set.</td>
        </tr>
        <tr>
            <td><code>aui-iconfont-layout-3col-center-large</code></td>
            <td><code>aui-iconfont-three-column-side-bars</code></td>
            <td>The icon was renamed. It was a part of the ADG2 icon set.</td>
        </tr>
        <tr>
            <td><code>aui-iconfont-layout-3col-large</code></td>
            <td><code>aui-iconfont-three-column</code></td>
            <td>The icon was renamed. It was a part of the ADG2 icon set.</td>
        </tr>
        <tr>
            <td><code>aui-iconfont-table-header-column</code></td>
            <td><code>aui-iconfont-heading-column</code></td>
            <td>The icon was renamed. It was a part of the ADG2 icon set.</td>
        </tr>
        <tr>
            <td><code>aui-iconfont-table-header-row</code></td>
            <td><code>aui-iconfont-heading-row</code></td>
            <td>The icon was renamed. It was a part of the ADG2 icon set.</td>
        </tr>
        <tr>
            <td><code>aui-iconfont-table-row-down</code></td>
            <td><code>aui-iconfont-insert-row-after</code></td>
            <td>The icon was renamed. It was a part of the ADG2 icon set.</td>
        </tr>
        <tr>
            <td><code>aui-iconfont-table-row-up</code></td>
            <td><code>aui-iconfont-insert-row-before</code></td>
            <td>The icon was renamed. It was a part of the ADG2 icon set.</td>
        </tr>
        <tr>
            <td><code>aui-iconfont-table-row-remove</code></td>
            <td><code>aui-iconfont-remove-row</code></td>
            <td>The icon was renamed. It was a part of the ADG2 icon set.</td>
        </tr>
        <tr>
            <td><code>aui-iconfont-table-col-remove</code></td>
            <td><code>aui-iconfont-remove-column</code></td>
            <td>The icon was renamed. It was a part of the ADG2 icon set.</td>
        </tr>
        <tr>
            <td><code>aui-iconfont-table-col-left</code></td>
            <td><code>aui-iconfont-insert-column-before</code></td>
            <td>The icon was renamed. It was a part of the ADG2 icon set.</td>
        </tr>
        <tr>
            <td><code>aui-iconfont-table-col-right</code></td>
            <td><code>aui-iconfont-insert-column-after</code></td>
            <td>The icon was renamed. It was a part of the ADG2 icon set.</td>
        </tr>
        <tr>
            <td><code>aui-iconfont-table-remove</code></td>
            <td><code>aui-iconfont-remove-table</code></td>
            <td>The icon was renamed. It was a part of the ADG2 icon set.</td>
        </tr>
        <tr>
            <td><code>aui-iconfont-table-merge</code></td>
            <td><code>aui-iconfont-merge-table-cells</code></td>
            <td>The icon was renamed. It was a part of the ADG2 icon set.</td>
        </tr>
        <tr>
            <td><code>aui-iconfont-table-split</code></td>
            <td><code>aui-iconfont-split-merged-table-cells</code></td>
            <td>The icon was renamed. It was a part of the ADG2 icon set.</td>
        </tr>
        <tr>
            <td><code>aui-iconfont-table-copy-row</code></td>
            <td><code>aui-iconfont-copy-table-row</code></td>
            <td>The icon was renamed. It was a part of the ADG2 icon set.</td>
        </tr>
        <tr>
            <td><code>aui-iconfont-table-paste-row</code></td>
            <td><code>aui-iconfont-paste-table-row</code></td>
            <td>The icon was renamed. It was a part of the ADG2 icon set.</td>
        </tr>
        <tr>
            <td><code>aui-iconfont-table-cut-row</code></td>
            <td><code>aui-iconfont-cut-table-row</code></td>
            <td>The icon was renamed. It was a part of the ADG2 icon set.</td>
        </tr>
        <tr>
            <td><code>aui-iconfont-teamcals-large</code></td>
            <td><code>aui-iconfont-team-calendar</code></td>
            <td>The icon was renamed. It was a part of the ADG2 icon set.</td>
        </tr>
        <tr>
            <td><code>aui-iconfont-teamcals</code></td>
            <td><code>aui-iconfont-team-calendar</code></td>
            <td>The icon was renamed. It was a part of the ADG2 icon set.</td>
        </tr>
        <tr>
            <td><code>aui-iconfont-editor-emoticon</code></td>
            <td><code>aui-iconfont-emoji</code></td>
            <td>The icon was renamed. It was a part of the ADG2 icon set.</td>
        </tr>
        <tr>
            <td><code>aui-iconfont-editor-help</code></td>
            <td><code>aui-iconfont-help</code></td>
            <td>The icon was renamed. It was a part of the ADG2 icon set.</td>
        </tr>
        <tr>
            <td><code>aui-iconfont-editor-task</code></td>
            <td><code>aui-iconfont-task</code></td>
            <td>The icon was renamed. It was a part of the ADG2 icon set.</td>
        </tr>
        <tr>
            <td><code>aui-iconfont-like-small</code></td>
            <td><code>aui-iconfont-like</code></td>
            <td>The icon was renamed. It was a part of the ADG2 icon set.</td>
        </tr>
        <tr>
            <td><code>aui-devtools-submodule</code></td>
            <td><code>aui-submodule</code></td>
            <td>The icon was renamed. It was a part of the ADG2 icon set.</td>
        </tr>
    </tbody>
</table>

<h3 id="7.3.x-to-7.4">Upgrading from 7.3.x to 7.4</h3>

<p>
    AUI 7.4 updates the style of tabs, avatars, and aspects of the application header to match those
    found in the Atlassian Design Guidelines.
    <br/>
    AUI 7.4 also drops support for IE 9 and IE 10; IE 11 is the oldest supported Internet Explorer version.
</p>

<h4>Internet Explorer compatibility</h4>

<p>
    We no longer support Internet Explorer versions older than IE 11. The browser usage statistics from
    Atlassian products in Server and Cloud suggest that usage of IE 10 is between 0.03% to 0.3% of total product
    usage.
    <br />
    Dropping support for older browser versions allows AUI to take advantage of newer technologies (like flexbox,
    @supports in CSS, native Promises, [and more](https://caniuse.com/#compare=ie+9,ie+10,ie+11)), which in turn
    helps us shed some of AUI's weight in its CSS and JavaScript layers over the next several releases.
</p>

<h4>Application Header</h4>

<p>
    The application header pattern includes a secondary navigation section -- these are the menu items on
    the right side of the navigation that contain only an icon. The design guidelines state that these
    secondary navigation items should not have an additional chevron icon.
    <br />
    To match the guidelines, you will have to change your code to include an additional
    <code>.aui-dropdown2-trigger-arrowles</code> CSS class. Check the example code:
</p>

<noscript is="aui-docs-code" type="text/html">
    <nav class="aui-header aui-dropdown2-trigger-group" role="navigation" id="nav1">
        <div class="aui-header-primary">
            <!-- ... -->
        </div>
        <div class="aui-header-secondary">
            <ul class="aui-nav">
                <li>
                    <!-- Add the "aui-dropdown2-trigger-arrowles" class to the dropdown trigger. -->
                    <a href="#" class="aui-dropdown2-trigger aui-dropdown2-trigger-arrowless">
                        <span class="aui-icon aui-icon-small aui-iconfont-help">Help</span>
                    </a>
                </li>
                <li>
                    <a href="#" class="aui-dropdown2-trigger aui-dropdown2-trigger-arrowless">
                        <span class="aui-icon aui-icon-small aui-iconfont-configure">Configure</span>
                    </a>
            </li>
                <li>
                    <a href="#" class="aui-dropdown2-trigger aui-dropdown2-trigger-arrowless">
                        <span class="aui-avatar aui-avatar-small">
                            <span class="aui-avatar-inner">
                                <img src="img/24x24.png" alt="Username" />
                            </span>
                        </span>
                    </a>
                </li>
            </ul>
        </div>
    </nav>
</noscript>

<h4>Avatar component</h4>

<p>
    The new avatar style effectively swaps the treatment of users and projects.
</p>

<ul>
    <li>User avatars are now circular.</li>
    <li>Project avatars are now squares with subtly rounded borders.</li>
</ul>

<p>
    As part of this upgrade, if you have any custom avatar patterns, consider refactoring them to use
    the AUI pattern instead. If that is untenable, you will need to add the same border radius changes
    to your avatar components.
</p>

<h4>Tab component</h4>

<p>
    The new tab style is implemented using flexbox, which allows simpler adjustment of the direction and orientation
    of the tabs themselves. In addition, the tab panel has been given a default top padding of 10px so that content
    will have reasonable separation from the tab list by default.
</p>

<p>
    As part of this upgrade, you will want to check:
</p>

<ul>
    <li>
        If you place tab items inside another container, you may need to revise its placement in that container.
        The dimensions and margins of the tab group and tab items have changed slightly, which may invalidate
        assumptions about its visual harmony with its surroundings.
    </li>
    <li>
        If you are changing the orientation or placement of tabs relative to their tab panel, you will need to
        adjust your CSS to account for the new style. Ensure the dividing line exists between the tab items and
        tab panel, and that the active tab item has a line on the same side as the dividing line.
    </li>
</ul>

<h3 id="7.2.x-to-7.3">Upgrading from 7.2.x to 7.3</h3>

<p>
    AUI 7.3 updates the style of flags, messages, and modal dialogs in AUI to match those
    found in the Atlassian Design Guidelines.
</p>

<h4>Flag and Message design</h4>

<p>
    The new style for flags and messages is designed to bridge the prior ADG2 pattern and the newer
    ADG3 variant. It aims to balance readability of in-page messages against a less noisy flag notification.
    The patterns may diverge further in future.
</p>

<ul>
    <li>The pattern for flags may be revised to alter the aesthetic and their placement
        on the screen, though this is not a certainty.</li>
    <li>The design of in-page messages may be further revised to achieve better contrast with their
        surrounding content.</li>
</ul>

<p>
    As part of this upgrade, review whether you are including buttons or links inside message text, then
    consider placing them in an "actions" section of the message, using the <code>aui-nav-actions-list</code>
    CSS class on an un-ordered list. See the <a href="flag.html">flags</a>,
    <a href="messages.html">messages</a>, or <a href="in-product-help.html">in-product help</a>
    docs pages for usage examples.
</p>

<h4>Modal dialog design</h4>

<p>
    The new style for modal dialogs changes the contrast between its header, footer, and content sections. Where
    previously the header and footer were a light grey, they are now all white, with a light grey border separating
    the areas. In addition, the modal now has a drop-shadow, and the colour of the blanket behind the modal has changed.
</p>

<p>
    The means of achieving layout in the modal has also changed &mdash; it is now implemented with flexbox.
    This was done in order to properly support adding shadows to Dialog2 without changing its markup pattern.
</p>

<p>
    As part of this upgrade, check that the content you add to the headers and footers of your dialogs continue to
    fit within them; their placement and aesthetic may need updating to work within their containers.
</p>

<h3 id="7.1.x-to-7.2">Upgrading from 7.1.x to 7.2</h3>

<p>
    AUI 7.2 updates the style of all buttons and button-like patterns in AUI to match those
    found in the Atlassian Design Guidelines.
</p>

<h4>Button styles</h4>
<p>
    The new button style includes a significant change to the treatment of buttons that are
    "pressed", such as when a dropdown is opened from a button. The colour contrast between background
    and text in this state has inverted; where it used to be represented with a light grey background
    and internal drop-shadow, it is now a dark background with light text.
</p>

<p>
    The colour and contrast changes in the button pattern will necessitate revision of any
    custom CSS overrides you may have for button styles, such as might exist for icons
    inside the button. See <a href="https://ecosystem.atlassian.net/browse/AUI-4516">AUI-4516</a> and
    <a href="https://ecosystem.atlassian.net/browse/AUI-4517">AUI-4517</a> for examples.
</p>

<h4>Toolbar changes</h4>
<p>
    The toolbar patterns in AUI were also updated to match the Atlassian Design Guidelines.
</p>
<p>
    One notable deviation to the guidelines is found in AUI's deprecated Toolbar1 pattern: there is no
    whitespace between <code>.toolbar-item</code> elements in a <code>.toolbar-group</code>. The markup
    pattern for Toolbar1 was overly permissive, and updating this pattern to achieve the new design
    guidelines would both increase CSS selector count and specificity, as well as encourage continued use of
    the deprecated pattern.
</p>
<p>
    As part of this upgrade, you should migrate any old Toolbar1-based patterns to a more appropriate
    markup pattern.
</p>
<p>
    If you are presenting a set of actions to perform on content,
    such as in a rich-text editor, use the Toolbar2 pattern:
</p>
<noscript is="aui-docs-code" type="text/html">
    <!-- Deprecated Toolbar1 pattern -->
    <div class="aui-toolbar" id="toolbar-with-non-button-elements">
        <div class="toolbar-split toolbar-split-left">
            <ul class="toolbar-group">
                <li class="toolbar-item">
                    <a href="#" class="toolbar-trigger">Foo</a>
                    <button>Bar</button>
                </li>
            </ul>
        </div>
        <div class="toolbar-split toolbar-split-right">
            <ul class="toolbar-group">
                <li class="toolbar-item">
                    <button class="toolbar-trigger">Options</button>
                </li>
            </ul>
        </div>
    </div>

    <!-- AUI Toolbar2 pattern -->
    <div class="aui-toolbar2" role="toolbar">
        <div class="aui-toolbar2-inner">
            <div class="aui-toolbar2-primary">
                <div class="aui-buttons">
                    <a href="#" class="aui-button">Foo</a>
                    <button class="aui-button">Bar</button>
                </div>
            </div>
            <div class="aui-toolbar2-secondary">
                <button class="aui-button">Options</button>
            </div>
        </div>
    </div>
</noscript>
<p>
    You should only use the Toolbar pattern when the semantics of your UI align with those described in
    <a href="https://www.w3.org/TR/wai-aria-practices/#toolbar">the WAI-ARIA best practices for the toolbar role</a>.
    In many cases, you can instead use the simpler <code>.aui-buttons</code> pattern:
</p>
<noscript is="aui-docs-code" type="text/html">
    <!-- Deprecated Toolbar1 pattern -->
    <div class="aui-toolbar" id="toolbar-with-single-group">
        <ul class="toolbar-group">
            <li class="toolbar-item">
                <a href="#" class="toolbar-trigger">Foo</a>
                <button>Bar</button>
            </li>
        </ul>
    </div>

    <!-- AUI grouped buttons pattern -->
    <div class="aui-buttons">
        <a href="#" class="aui-button">Foo</a>
        <button class="aui-button">Bar</button>
    </div>
</noscript>

<h4>Placement of dropdowns in markup</h4>
<p>
    As part of this upgrade, also consider changing where you place the HTML for an AUI dropdown.
    The rounding of button corners when used in AUI's toolbar patterns rely heavily on the first
    and last child of the toolbar group being a button element. If the last element is something else,
    like a dropdown, then the right edges of a toolbar will appear sharp.
    <br/>
    Moving all non-button HTML out of the AUI Toolbar containers will resolve this problem.
</p>

<h3 id="7.0.x-to-7.1">Upgrading from 7.0.x to 7.1</h3>

<p>
    AUI 7.1 introduces the colours and typography from the Atlassian Design Guidelines
    in to a majority of AUI's components.
</p>

<p>
    The new font family has a different x-height and letter spacing, and can differ between operating systems.
    While most line-heights and vertical spacing has been preserved, some change in the flow of content on a page is
    inevitable. As a result, some assumptions about available horizontal space may need to be revised.
</p>

<p>
    A change of page and component colours will mean that any hard-coded hex, hsl, or rgb values in your CSS
    may clash with the colours that AUI now uses. If you provide a look-and-feel feature, the values provided by
    that feature will also clash with AUI's and will need revision.
    <br />
    It is recommended you use a CSS pre-processing system to declare your colour usages with variables,
    such that replacement of the colour values can be done in a single location.
</p>

<p>
    At a technical implementation level, the new colour and typography definitions used in AUI are consumed via
    a shared Node package called <a href="https://www.npmjs.com/package/@atlaskit/util-shared-styles">
    <code>@atlaskit/util-shared-styles</code></a>. AUI consumes this package in its LESS files, whose values are
    substituted at build-time. A consequence of this implementation strategy is that direct consumption of AUI's source
    will fail, as this dependency will not be resolvable via AUI's Node package, nor through standard LESSimport behaviour.
    <br />
    We recognise the desire to re-use the same values that AUI uses in its CSS, and are working on a supported solution
    &mdash; follow <a href="https://ecosystem.atlassian.net/projects/AUI/issues/AUI-4477">AUI-4477</a> for
    more details.
</p>

<h3 id="6.0.x-to-7.0">Upgrading from 6.x to 7</h3>

<h4 id="7.0-license-change">The AUI license</h4>

<p>The primary change between AUI 6.x and 7 is the license under which AUI is distributed.</p>

<p>
    AUI 7 is licensed under the
    <a href="https://developer.atlassian.com/platform/marketplace/atlassian-developer-terms/">
        Atlassian Developer Terms
    </a>
    instead of Apache-2.0.
</p>

<p>
    The Atlassian Developer Terms license allows third party developers to use Atlassian's SDKs
    to develop for the Atlassian marketplace. Applying this license to AUI means:
</p>

<ul>
    <li>
        If you're using AUI to build something for use within the Atlassian ecosystem, nothing changes for you.
        For example, if you are building a P2 plugin for a Server product, or building an Atlassian Connect app,
        you can continue to use AUI.
    </li>
    <li>For other usages, you may be unable to use the new version of AUI.</li>
</ul>

<p>
    If you are using AUI 6.x or earlier, its Apache-2.0 license will continue to apply.
</p>

<p>
    In short: if you're using AUI to build something that is *NOT* for use within the Atlassian ecosystem,
    you cannot use AUI 7.x, but you can continue to use AUI 6.x.
</p>

<h4 id="7.0-distro-change">Distribution changes</h4>

<p>
    AUI ships as <a href="https://www.npmjs.com/package/@atlassian/aui">a Node package on npmjs.com</a>.
    This package includes and applies all the design assets from the Atlassian Design Guidelines to
    the AUI components and patterns.
</p>

<p>
    Now that the ADG assets ship via the AUI Node package, and given the sunsetting of Bower,
    the <code>aui-dist</code> and <code>aui-adg-dist</code> repositories are also deprecated;
    no further distribution zip files will be published there.
    <br/>
    The recommended approach to retrieving the flat-packed distribution files is via the <code>dist/</code>
    folder in the Node package. Alternatively, the flat-pack zip file is pushed to
    <a href="https://packages.atlassian.com/maven-public/com/atlassian/aui/aui-flat-pack/">
        Atlassian's Artifactory repository
    </a>,
    though this method of delivery may disappear in the future.
</p>

<p>
    From AUI 7 onwards, AUI is not published to its own CDN any more.
    For production services, it is recommended to bundle the AUI resources with your own.
    For prototyping and development, the contents of the Node package can be served through
    <a href="https://unpkg.com">unpkg.com</a>.
</p>

<h3 id="5.8.x-to-5.9">Upgrading from 5.8.x to 5.9</h3>

<h4 id="5.9-inlinedialog">Inline dialog</h4>

<h5>Tag name</h5>
<p>Inline dialog 1 is still deprecated but usable via the imperative <code>AUI.InlineDialog()</code> API. However, the Inline Dialog 2 custom element has been renamed to Inline Dialog.</p>
<noscript is="aui-docs-code" type="text/html">
    <!-- Old -->
    <aui-inline-dialog2></aui-inline-dialog2>

    <!-- New -->
    <aui-inline-dialog></aui-inline-dialog>
</noscript>

<h5><code>persistent</code> property / attribute</h5>
<p>The <code>persistent</code> attribute is now a <a href="https://html.spec.whatwg.org/#boolean-attributes">boolean attribute</a>.</p>
<noscript is="aui-docs-code" type="text/html">
    <!-- Old -->
    <aui-inline-dialog2 persistent="true"></aui-inline-dialog2>
    <aui-inline-dialog2 persistent="false"></aui-inline-dialog2>

    <!-- New -->
    <aui-inline-dialog persistent></aui-inline-dialog>
    <aui-inline-dialog></aui-inline-dialog>
</noscript>

<div class="aui-message aui-message-warning">
    <p class="title">Boolean attributes</p>
    <p>Now that <code>persistent</code> is a boolean attribute, this means that if you set <code>persistent="false"</code>, it will be interpreted as <code>true</code>.</p>
</div>

<h5>Events</h5>
<p>Event listeners now do not contain the component prefix. They are only prefixed with <code>aui-</code>. This will be a convention for everything moving forward.</p>
<noscript is="aui-docs-code" type="text/js">
    // Old
    inlineDialog.addEventListener('aui-layer-hide', handler);
    inlineDialog.addEventListener('aui-layer-show', handler);

    // New
    inlineDialog.addEventListener('aui-hide', handler);
    inlineDialog.addEventListener('aui-show', handler);
</noscript>

<h5>Methods removed in favour of <code>open</code> property / attribute</h5>
<p>The <code>hide()</code>, <code>isVisible()</code> and <code>show()</code> methods have all been removed in lieu of a single <code>open</code> property / attribute.</p>
<noscript is="aui-docs-code" type="text/js">
    // Old
    inlineDialog.hide();
    var isVisible = inlineDialog.isVisible();
    inlineDialog.show();

    // New
    inlineDialog.open = false;
    var isVisible = inlineDialog.open;
    inlineDialog.open = true;
</noscript>
