@keyframes spinnerRotateAnimation {
    to {
        transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        -webkit-transform: rotate(360deg);
    }
}
@-webkit-keyframes spinnerRotateAnimation {
    to {
        transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        -webkit-transform: rotate(360deg);
    }
}

.aui-spinner {
    position: relative;
    width: 0;
    z-index: 2000000000;
    margin: auto;

    &>svg {
        position: absolute;
        top: -10px;
        left: -10px;

        animation: 0.86s cubic-bezier(0.4, 0.15, 0.6, 0.85) infinite spinnerRotateAnimation;
        -webkit-animation: 0.86s cubic-bezier(0.4, 0.15, 0.6, 0.85) infinite spinnerRotateAnimation;
        fill: none;
        stroke: #42526E;
        stroke-dasharray: 56px;
        stroke-dashoffset: 45px;
        stroke-linecap: round;
        stroke-width: 2px;
        transform-origin: center;
        -ms-transform-origin: center;
        -webkit-transform-origin: center;
    }
}
