@import 'colors';

@aui-link-color: @ak-color-B400;
@aui-link-color-hover: @ak-color-B300;
@aui-link-color-active: @ak-color-B500;
@aui-link-color-visited: @aui-color-violet;

@aui-link-decoration: none;
@aui-link-decoration-active: underline;
@aui-link-inverted-text-color: @aui-color-white;
@aui-link-inverted-bg-color: @aui-link-color;
