@import '~@atlaskit/util-shared-styles/src/colors';

// ADG2 Colours Palette
@aui-color-white: #fff;
@aui-color-black: #000;
@aui-color-medium-gray: #707070;
@aui-color-light-gray: #f5f5f5;
@aui-color-gray: #999;
@aui-color-ash-gray: @ak-color-N40;
@aui-color-silver: #e9e9e9;
@aui-color-brown: #815b3a;
@aui-color-orange: #f79232;
@aui-color-bright-blue-2: #59afe1;
@aui-color-cool-blue: #84bbc6;
@aui-color-violet: #654982;
@aui-color-pale-blue: #ebf2f9;
@aui-color-pale-yellow: #fffdf6;

// ADG3 Compatible Colours Palette

// B400 Pacific bridge
@aui-color-blue: @ak-color-B400;
@aui-color-bright-blue-1: @ak-color-B400;

// G400 - Slime
@aui-color-green: @ak-color-G400;

// Y300 - Golden state
@aui-color-yellow: @ak-color-Y300;

// R400 - Red dirt
@aui-color-red: @ak-color-R400;

// N800 - Squid ink
@aui-color-charcoal: @ak-color-N800;

// P400 - Snozzberry
// Deprecated: Use the Atlaskit variable instead
@aui-color-slate: @ak-color-P400;

// G400 - Slime
@aui-color-lime-green: @ak-color-G400;

// N700 - Snorlax
// Deprecated: Use the Atlaskit variable instead
@aui-color-dark-brown: @ak-color-N700;
