@import 'colors';
@import 'text';
@import 'grid';

@aui-font-weight-lighter: 300;
@aui-font-weight-normal: 400;
@aui-font-weight-medium: 500;
@aui-font-weight-semibold: 600;

@aui-heading-xxlarge-text-color: @aui-text-color;
@aui-heading-xxlarge-font-size: @aui-font-size-xxxlarge;
@aui-heading-xxlarge-font-weight: @aui-font-weight-medium;
@aui-heading-xxlarge-line-height: unit(40 / @aui-font-size-xxxlarge);
@aui-heading-xxlarge-letter-spacing: 0;
@aui-heading-xxlarge-text-transform: none;
@aui-heading-xxlarge-margin-top: @aui-grid * 3;

@aui-heading-xlarge-text-color: @aui-text-color;
@aui-heading-xlarge-font-size: @aui-font-size-xxlarge;
@aui-heading-xlarge-font-weight: @aui-font-weight-medium;
@aui-heading-xlarge-line-height: unit(30 / @aui-font-size-xxlarge);
@aui-heading-xlarge-letter-spacing: 0;
@aui-heading-xlarge-text-transform: none;
@aui-heading-xlarge-margin-top: @aui-grid * 3;

@aui-heading-large-text-color: @aui-text-color;
@aui-heading-large-font-size: @aui-font-size-xlarge;
@aui-heading-large-font-weight: @aui-font-weight-medium;
@aui-heading-large-line-height: unit(30 / @aui-font-size-xlarge);
@aui-heading-large-letter-spacing: 0;
@aui-heading-large-text-transform: none;
@aui-heading-large-margin-top: @aui-grid * 3;

@aui-heading-medium-text-color: @aui-text-color;
@aui-heading-medium-font-size: @aui-font-size-large;
@aui-heading-medium-font-weight: @aui-font-weight-semibold;
@aui-heading-medium-line-height: unit(20 / @aui-font-size-large);
@aui-heading-medium-letter-spacing: 0;
@aui-heading-medium-text-transform: none;
@aui-heading-medium-margin-top: @aui-grid * 2;

@aui-heading-small-text-color: @aui-text-color;
@aui-heading-small-font-size: @aui-font-size-medium;
@aui-heading-small-font-weight: @aui-font-weight-semibold;
@aui-heading-small-line-height: unit(20 / @aui-font-size-medium);
@aui-heading-small-letter-spacing: 0;
@aui-heading-small-text-transform: none;
@aui-heading-small-margin-top: @aui-grid * 2;

@aui-heading-xsmall-text-color: @aui-color-medium-gray;
@aui-heading-xsmall-font-size: @aui-font-size-small;
@aui-heading-xsmall-font-weight: @aui-font-weight-semibold;
@aui-heading-xsmall-line-height: unit(20 / @aui-font-size-small);
@aui-heading-xsmall-letter-spacing: 0;
@aui-heading-xsmall-text-transform: uppercase;
@aui-heading-xsmall-margin-top: @aui-grid * 2;
